KB Gap Finder.json
{
  "name": "KB Gap Finder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-gap-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        16
      ],
      "id": "7b1a38a7-27c4-4e91-98ec-2ad6a22c715a",
      "name": "Webhook - Gap Scan",
      "webhookId": "kb-gap-scan-001"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook - Gap Scan').first().json;\nconst body = webhookData.body || webhookData;\nconst formId = body.form_id;\nconst dateFrom = body.date_from;\nconst dateTo = body.date_to;\n\nif (!formId) throw new Error('form_id is required');\nif (!dateFrom || !dateTo) throw new Error('date_from and date_to are required');\n\nconst buildSectionMap = $('Code - Build Section Map').first().json;\nconst formConfig = $('Postgres - Get Form Config').first().json;\n\nconst data = $getWorkflowStaticData('global');\ndata.ticket_sections = {};\ndata.kb_articles = [];\ndata.section_map = buildSectionMap.section_map || {};\ndata.section_field_id = buildSectionMap.section_field_id;\ndata.scan_params = { \n  form_id: formId, \n  form_name: formConfig.form_name || formId, \n  date_from: dateFrom, \n  date_to: dateTo \n};\n\nconst q = `ticket_form_id:${formId} created>${dateFrom} created<${dateTo} custom_field_1260824167549:support_`;\nconst url = `https://kipuhealth.zendesk.com/api/v2/search/export?filter%5Btype%5D=ticket&query=${encodeURIComponent(q)}&page%5Bsize%5D=1000`;\n\nreturn [{ json: { url } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        16
      ],
      "id": "67d3ea63-400b-495e-b71b-fa4db6b39e47",
      "name": "Code - Prepare Scan"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        16
      ],
      "id": "c097c064-4e99-4ca4-8e6f-2df2d33df536",
      "name": "HTTP - Search Tickets",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.ticket_sections) data.ticket_sections = {};\n\nconst ARTICLE_FIELD_IDS = [18158428639387, 25171038337691];\nconst sectionMapNode = $('Code - Build Section Map').first().json;\nconst sectionFieldId = Number(sectionMapNode.section_field_id);\nconst sectionMap = sectionMapNode.section_map || {};\n\nconst tickets = $json.results || [];\n\nfor (const ticket of tickets) {\n  const fields = ticket.custom_fields || [];\n\n  const sf = fields.find(f => Number(f.id) === sectionFieldId);\n  const sectionValue = sf?.value || 'unknown';\n  if (!sectionMap[sectionValue]) continue;\n\n  let articleLinked = null;\n  for (const fid of ARTICLE_FIELD_IDS) {\n    const f = fields.find(cf => Number(cf.id) === Number(fid));\n    if (f && f.value != null && f.value !== '') {\n      const v = String(f.value).toLowerCase().trim();\n      if (['kcs_linked_yes','kcslinked_yes','yes','true'].includes(v)) { articleLinked = true; break; }\n      if (['kcs_linked_no','kcslinked_no','no','false'].includes(v))   { articleLinked = false; break; }\n    }\n  }\n  if (articleLinked === null) {\n    const tags = ticket.tags || [];\n    if (tags.some(t => ['kcs_linked_yes','kcslinked_yes'].includes(t))) articleLinked = true;\n    else if (tags.some(t => ['kcs_linked_no','kcslinked_no'].includes(t))) articleLinked = false;\n  }\n\n  if (!data.ticket_sections[sectionValue]) {\n    data.ticket_sections[sectionValue] = { total: 0, linked_yes: 0, linked_no: 0, linked_null: 0, tickets: [] };\n  }\n  data.ticket_sections[sectionValue].total++;\n  if (articleLinked === true)       data.ticket_sections[sectionValue].linked_yes++;\n  else if (articleLinked === false) data.ticket_sections[sectionValue].linked_no++;\n  else                              data.ticket_sections[sectionValue].linked_null++;\n\n  if (data.ticket_sections[sectionValue].tickets.length < 10) {\n    const subject = (ticket.subject || '').trim();\n    const description = (ticket.description || '').trim().slice(0, 200);\n    if (subject) data.ticket_sections[sectionValue].tickets.push({ subject, description });\n  }\n}\n\nconst hasMore = $json.meta?.has_more === true;\nconst nextUrl = hasMore ? ($json.links?.next || null) : null;\nconst total = Object.values(data.ticket_sections).reduce((s,v) => s + v.total, 0);\nreturn [{ json: { next_page: nextUrl, sections_tracked: Object.keys(data.ticket_sections).length, total_tickets_processed: total } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        16
      ],
      "id": "5c56e650-9889-4af3-a6d0-c49da276a023",
      "name": "Code - Accumulate Ticket Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_page }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "0f9c4f0b-36b3-4361-bbd2-1a042ce9930d"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        16
      ],
      "id": "05c8dd0e-a9c0-4913-92c7-8ec38e2995f1",
      "name": "IF - More Ticket Pages"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        -160
      ],
      "id": "867fbd33-3499-4a76-a832-d25712245d7e",
      "name": "Wait - Ticket Page",
      "webhookId": "dc9a0306-7762-409c-9478-feeec86211f2"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { url: $json.next_page } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -160
      ],
      "id": "1b4eb3fd-918b-43cf-a602-d7311e6619f6",
      "name": "Code - Next Ticket URL"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { kb_url: 'https://kipuhealth.zendesk.com/api/v2/help_center/en-us/categories/360003364352/articles.json?per_page=100&page=1' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        128
      ],
      "id": "fb50e088-b861-46ca-907a-1f51a12885b4",
      "name": "Code - Start KB Fetch"
    },
    {
      "parameters": {
        "url": "={{ $json.kb_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        128
      ],
      "id": "b1cf43da-cc2f-474a-beb2-07069e0bb4d5",
      "name": "HTTP - Fetch KB Articles",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.kb_articles) data.kb_articles = [];\n\nconst articles = $json.articles || [];\nfor (const a of articles) {\n  if (!a.draft) {\n    data.kb_articles.push({\n      id: a.id,\n      title: a.title,\n      section_id: a.section_id,\n      updated_at: a.updated_at,\n      outdated: a.outdated || false\n    });\n  }\n}\n\nreturn [{ json: { next_page: $json.next_page || null, articles_collected: data.kb_articles.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        128
      ],
      "id": "9ef021ee-6d17-456f-aec2-5f8e16c2f6c1",
      "name": "Code - Accumulate KB Articles"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_page }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "id": "9a31a06d-f671-44fb-97a0-fd54ec7e6547"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        128
      ],
      "id": "5e6f57c7-74e6-4632-8ec9-1f1aac36f085",
      "name": "IF - More KB Pages"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { kb_url: $json.next_page } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        336
      ],
      "id": "09da146e-639c-4deb-961f-ebd20a5ac59a",
      "name": "Code - Next KB URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst ticketSections = data.ticket_sections || {};\nconst kbArticles = data.kb_articles || [];\n\nconst sectionMap = $('Code - Build Section Map').first().json.section_map || {};\n\nconst webhookData = $('Webhook - Gap Scan').first().json;\nconst body = webhookData.body || webhookData;\nconst formConfig = $('Postgres - Get Form Config').first().json;\n\nconst scanParams = {\n  form_id: body.form_id,\n  form_name: formConfig.form_name || body.form_id,\n  date_from: body.date_from,\n  date_to: body.date_to\n};\n\nconst stopWords = new Set(['with','from','that','this','have','been','more','than','template','request','feature','and','the','for']);\n\nfunction findCandidateArticles(topicName) {\n  const keywords = topicName.toLowerCase()\n    .replace(/[^a-z0-9\\s]/g,' ').split(/\\s+/)\n    .filter(w => w.length > 3 && !stopWords.has(w));\n  return kbArticles.filter(a => {\n    const t = a.title.toLowerCase();\n    return keywords.some(kw => t.includes(kw));\n  }).slice(0, 10).map(a => ({ id: a.id, title: a.title, updated_at: a.updated_at, outdated: a.outdated }));\n}\n\nconst totalTickets = Object.values(ticketSections).reduce((s,v) => s + v.total, 0);\n\nconst NON_SUPPORT = new Set([\n  'non-support__abandoned_call_emr','emr_non-support__accounting',\n  'emr_client_success_manager__csm_emr','emr_hr','emr_implementation',\n  'emr_non-support__it','emr_non-support__labs','emr_non-support__legal',\n  'non-support__product','emr_sales','emr_non-support__security',\n  'emr_non-support__tech_touch','stakeholder_escalations_emr',\n  'vm__unable_to_reach_back_','sandbox_request'\n]);\n\nconst rawSections = Object.entries(ticketSections)\n  .filter(([sv]) => sv !== 'unknown' && !NON_SUPPORT.has(sv))\n  .map(([sv, counts]) => {\n    const topicName = sectionMap[sv] || sv;\n    const candidateArticles = findCandidateArticles(topicName);\n    const kcsRate = counts.total > 0 ? ((counts.linked_yes + counts.linked_no) / counts.total) * 100 : 0;\n    return {\n      section_feature: sv,\n      topic_name: topicName,\n      ticket_count: counts.total,\n      pct_of_total: totalTickets > 0 ? Math.round((counts.total / totalTickets) * 1000) / 10 : 0,\n      article_linked_yes: counts.linked_yes,\n      article_linked_no: counts.linked_no,\n      article_linked_null: counts.linked_null,\n      kcs_adoption_pct: Math.round(kcsRate * 10) / 10,\n      candidate_articles: candidateArticles,\n      tickets: counts.tickets || []\n    };\n  })\n  .filter(r => r.ticket_count > 0)\n  .sort((a,b) => b.ticket_count - a.ticket_count);\n\nconst scanMeta = {\n  scan_id: Date.now().toString(),\n  scanned_at: new Date().toISOString(),\n  date_from: scanParams.date_from,\n  date_to: scanParams.date_to,\n  form_name: scanParams.form_name,\n  total_tickets: totalTickets,\n  total_sections: rawSections.length\n};\n\ndata.llm_results = [];\ndata.ticket_sections = null;\ndata.kb_articles = null;\n\nreturn rawSections.map(s => ({ json: {\n  ...s,\n  _total_sections: rawSections.length,\n  _scan_meta: scanMeta\n}}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        144
      ],
      "id": "8ac18607-bdb9-46cb-9cea-8b8c5acaf1af",
      "name": "Code - Build Coverage Map"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4688,
        128
      ],
      "id": "2343bd59-a0cc-45df-9ab4-954d00d6e310",
      "name": "Respond - Gap Scan"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-gap-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        576
      ],
      "id": "99520ace-c064-4ff1-bd16-6c9c66fa56da",
      "name": "Webhook - Chat",
      "webhookId": "kb-gap-chat-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - Chat').first().json.body || $('Webhook - Chat').first().json;\nconst message = body.message || '';\nconst history = Array.isArray(body.history) ? body.history.slice(-4) : [];\n\nif (!message) throw new Error('message is required');\n\nconst scan = $('Postgres - Load Scan Context').first().json;\nconst sections = scan.sections || [];\n\nconst systemPrompt = scan.scan_id\n  ? `You are a KB gap analysis assistant for Kipu EMR support operations. Answer questions ONLY from the scan data provided below. Be concise — this is used in live meetings. Do not make up information not present in the data.\n\nSCAN SUMMARY:\n- Form: ${scan.form_name}\n- Date range: ${scan.date_from} to ${scan.date_to}\n- Scanned at: ${scan.scanned_at}\n- Total tickets analyzed: ${(scan.total_tickets||0).toLocaleString()}\n- Topics tracked: ${scan.total_topics}\n- Coverage score: ${scan.coverage_score}%\n- True gaps (no article): ${scan.true_gaps}\n- Quality gaps (article needs work): ${scan.quality_gaps}\n- Discoverability gaps (article unused): ${scan.discoverability_gaps}\n- Covered: ${scan.covered}\n- High priority topics: ${scan.high_priority}\n- Medium priority topics: ${scan.medium_priority}\n- Total deflection potential: ${(scan.total_deflection_potential||0).toLocaleString()} tickets\n\nALL TOPICS (ordered by ticket volume):\n${sections.map(s => `- ${s.topic_name}: ${s.ticket_count} tickets | ${s.gap_type} | priority: ${s.priority} | deflection: ${s.deflection_potential} | KCS: ${s.kcs_adoption_pct}%\n  Summary: ${s.gap_summary}\n  Action: ${s.recommended_action}`).join('\\n')}`\n  : 'You are a KB gap analysis assistant. No scan data is available. Ask the user to run a gap scan first.';\n\nconst historyMessages = history.map(h => `${h.role === 'user' ? 'User' : 'Assistant'}: ${h.content}`).join('\\n');\nconst userPrompt = historyMessages ? `${historyMessages}\\nUser: ${message}` : message;\n\nreturn [{ json: { system_prompt: systemPrompt, user_prompt: userPrompt, original_message: message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        576
      ],
      "id": "94e11529-cfb2-4be4-811f-0d029e7d5a9d",
      "name": "Code - Build Chat Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.user_prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.3"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        576
      ],
      "id": "43a65358-9d97-4347-a94b-c8f30157ea07",
      "name": "Kipu LLM Webhook - Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        576
      ],
      "id": "aabe5e45-05e8-417f-a8ad-57e76e04ec99",
      "name": "Kipu LLM Usage - Chat"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('Kipu LLM Webhook - Chat').first().json;\nconst response = llmOutput.output_text || llmOutput.text || llmOutput.response || '';\nconst usage = llmOutput.usage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 };\nreturn [{ json: { response: String(response).trim(), usage } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        576
      ],
      "id": "ff31e8c5-5895-45f4-83b9-6bef0b046161",
      "name": "Code - Parse Chat Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        576
      ],
      "id": "b3859891-947a-477f-a8a1-969c6f2b6539",
      "name": "Respond - Chat"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const section = $json;\n\nconst ticketSamples = (section.tickets || []).map((t, i) =>\n  `${i + 1}. Subject: \"${t.subject}\"\\n   Description: \"${t.description}\"`\n).join('\\n');\n\nconst systemPrompt = `You are a knowledge base gap analyst for Kipu EMR support. Analyze the support ticket data for one EMR feature and classify the KB gap.\n\nReturn ONLY a valid JSON object with exactly these fields — no markdown, no explanation:\n{\n  \"section_feature\": string,\n  \"topic_name\": string,\n  \"ticket_count\": number,\n  \"pct_of_total\": number,\n  \"gap_type\": \"true_gap\" | \"discoverability_gap\" | \"quality_gap\" | \"covered\",\n  \"gap_summary\": string,\n  \"recommended_articles\": [{\"id\": number, \"title\": string, \"url\": string, \"relevance\": \"high\"|\"medium\"|\"low\"}],\n  \"recommended_action\": string,\n  \"priority\": \"HIGH\" | \"MEDIUM\" | \"LOW\",\n  \"deflection_potential\": number,\n  \"kcs_adoption_pct\": number\n}\n\nSTRICT RULES — these override your judgment:\n1. section_feature: copy the raw field value exactly as given in the input\n2. topic_name: copy the human-readable name exactly as given in the input\n3. If no candidate articles were provided, gap_type MUST be \"true_gap\"\n4. If kcs_adoption_pct is 0 AND linked_yes is 0, gap_type CANNOT be \"covered\"\n5. \"covered\" requires articles to exist AND kcs_adoption_pct > 0\n6. Priority: HIGH = 100+ tickets, MEDIUM = 30-99, LOW = under 30\n7. Base ALL analysis strictly on the data provided — do not infer, assume, or draw on outside knowledge about the software, processes, or industry. If the ticket samples do not provide enough context to make a specific observation, say so plainly.\n\nGap type definitions:\n- true_gap: No relevant KB articles exist — agents have nothing to link\n- discoverability_gap: Articles exist but kcs_adoption_pct is 0 — agents are not finding or linking them\n- quality_gap: Articles exist AND linked_yes > 0, but tickets keep coming — content needs improvement\n- covered: Articles exist AND kcs_adoption_pct > 0 — topic is supported\n\ngap_summary: 2-3 plain English sentences for a live executive meeting. Reference ticket volume, article availability, and what the ticket samples reveal about the actual issue. Do not mention internal field names.\nrecommended_articles: 1-3 most relevant from candidates only. URL: https://kipuhealth.zendesk.com/hc/en-us/articles/{id}\ndeflection_potential: 60% of ticket_count for true_gap, 40% for discoverability_gap, 25% for quality_gap, 0 for covered.`;\n\nconst userPrompt = `Section: ${section.topic_name} (${section.section_feature})\nTickets: ${section.ticket_count} (${section.pct_of_total}% of total scanned)\nKCS Adoption: ${section.kcs_adoption_pct}%\n  Linked yes: ${section.article_linked_yes}\n  Linked no: ${section.article_linked_no}\n  Not recorded: ${section.article_linked_null}\n\nTicket samples (subject + first 200 chars of description):\n${ticketSamples || 'No samples available'}\n\nCandidate KB articles (keyword matched — may include irrelevant results):\n${section.candidate_articles.length > 0\n  ? section.candidate_articles.map(a => `- [${a.id}] \"${a.title}\" | updated: ${a.updated_at.slice(0,10)} | outdated: ${a.outdated}`).join('\\n')\n  : 'None found'}\n\nReturn ONLY the JSON object.`;\n\nreturn { json: {\n  system_prompt: systemPrompt,\n  prompt: userPrompt,\n  section_feature: section.section_feature,\n  topic_name: section.topic_name,\n  ticket_count: section.ticket_count\n}};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        144
      ],
      "id": "ebd002f4-c52b-4857-a8c5-f701d1b42c0f",
      "name": "Code - Build Section Prompt"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output_text || $json.text || $json.response || '';\nconst usage = $json.usage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 };\n\nconst data = $getWorkflowStaticData('global');\nif (!data.llm_results) data.llm_results = [];\n\nlet parsed;\ntry {\n  const match = String(raw).match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON in response');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed = {\n    gap_type: 'unknown',\n    gap_summary: 'Analysis unavailable.',\n    recommended_articles: [],\n    recommended_action: 'Manual review required.',\n    priority: 'LOW',\n    deflection_potential: 0,\n    kcs_adoption_pct: 0\n  };\n}\n\nparsed.section_feature = $('Code - Build Section Prompt').item.json.section_feature;\nparsed.topic_name = $('Code - Build Section Prompt').item.json.topic_name;\nparsed.ticket_count = $('Code - Build Section Prompt').item.json.ticket_count;\nparsed.article_linked_yes = $('Code - Build Coverage Map').item.json.article_linked_yes || 0;\nparsed.article_linked_no = $('Code - Build Coverage Map').item.json.article_linked_no || 0;\nparsed.article_linked_null = $('Code - Build Coverage Map').item.json.article_linked_null || 0;\n\ndata.llm_results.push(parsed);\n\nconst totalSections = $('Code - Build Coverage Map').item.json._total_sections || 1;\nconst isDone = data.llm_results.length >= totalSections;\n\nreturn { json: { is_done: isDone, usage, section_done: parsed.topic_name, count: data.llm_results.length, total: totalSections, result: parsed } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        144
      ],
      "id": "a48be9ad-38f6-4a79-8a5e-83ebcc2f9dcd",
      "name": "Code - Parse LLM Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.2"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        144
      ],
      "id": "fc4aca8c-9992-40ce-96bb-7a519bf15f49",
      "name": "HTTP - Kipu LLM Gap Analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3216,
        336
      ],
      "id": "668d1505-b0bf-4a13-ab6d-01f8e281f30d",
      "name": "DataTable - KipuLLMUsage Gap"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81c6f47b-5632-4054-bf9f-e5dcb3b0613a",
              "leftValue": "={{ $json.is_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3440,
        144
      ],
      "id": "b8ea94ac-5ae5-4aa3-87a4-783f675cbc74",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst allItems = $('Code - Parse LLM Prompt').all();\nconst coverageMap = allItems\n  .map(item => item.json.result)\n  .filter(Boolean)\n  .sort((a,b) => (b.ticket_count||0) - (a.ticket_count||0));\n\ncoverageMap.forEach(r => r.deflection_potential = Math.round(r.deflection_potential));\n\nconst scanMeta = $('Code - Build Coverage Map').first().json._scan_meta || {\n  scan_id: Date.now().toString(),\n  scanned_at: new Date().toISOString(),\n  date_from: null,\n  date_to: null,\n  form_name: 'Unknown',\n  total_tickets: 0\n};\n\nconst trueGaps = coverageMap.filter(r => r.gap_type === 'true_gap').length;\nconst qualityGaps = coverageMap.filter(r => r.gap_type === 'quality_gap').length;\nconst discoverabilityGaps = coverageMap.filter(r => r.gap_type === 'discoverability_gap').length;\nconst covered = coverageMap.filter(r => r.gap_type === 'covered').length;\nconst totalDeflection = coverageMap.reduce((s,r) => s + (r.deflection_potential || 0), 0);\nconst coverageScore = coverageMap.length > 0 ? Math.round((covered / coverageMap.length) * 100) : 0;\n\ndata.llm_results = null;\n\nreturn [{ json: {\n  scan_id: scanMeta.scan_id,\n  scanned_at: scanMeta.scanned_at,\n  date_from: scanMeta.date_from,\n  date_to: scanMeta.date_to,\n  form_name: scanMeta.form_name,\n  total_tickets: scanMeta.total_tickets,\n  total_topics: coverageMap.length,\n  coverage_score: coverageScore,\n  total_deflection_potential: totalDeflection,\n  summary: {\n    true_gaps: trueGaps,\n    quality_gaps: qualityGaps,\n    discoverability_gaps: discoverabilityGaps,\n    covered,\n    high_priority: coverageMap.filter(r => r.priority === 'HIGH').length,\n    medium_priority: coverageMap.filter(r => r.priority === 'MEDIUM').length\n  },\n  coverage_map: coverageMap\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        128
      ],
      "id": "8c90f992-f20b-4ebb-9bcd-40574606d94e",
      "name": "Code - Assemble Final Output"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT form_name, section_field_id, section_field_name \nFROM kbg_form_config \nWHERE form_id = '{{ $json.body?.form_id || $json.form_id }}' AND active = true\n\n",
        "options": {}
      },
      "id": "90045b17-ccc6-46df-a5a2-74874eb365e7",
      "name": "Postgres - Get Form Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -176,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/ticket_fields/{{ $json.section_field_id }}.json\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "94f15f9e-f522-4298-a811-567737d24ad6",
      "name": "HTTP - Fetch Field Options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        16
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const field = $json.ticket_field;\nconst options = field.custom_field_options || [];\n\nconst sectionMap = {};\noptions.forEach(opt => {\n  sectionMap[opt.value] = opt.name;\n});\n\nconst data = $getWorkflowStaticData('global');\ndata.section_map = sectionMap;\ndata.section_field_id = field.id.toString();\n\nreturn [{ json: { \n  section_field_id: field.id.toString(),\n  section_field_name: field.title,\n  total_options: options.length,\n  section_map: sectionMap\n}}];\n"
      },
      "id": "951c79a0-c0dd-4d66-beec-a1f3fb16efa9",
      "name": "Code - Build Section Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kbg_scans (\n  scan_id, scanned_at, date_from, date_to, form_name,\n  total_tickets, total_topics, coverage_score,\n  total_deflection_potential, true_gaps, quality_gaps,\n  discoverability_gaps, covered, high_priority, medium_priority\n) VALUES (\n  '{{ $json.scan_id }}',\n  '{{ $json.scanned_at }}',\n  '{{ $json.date_from }}',\n  '{{ $json.date_to }}',\n  '{{ $json.form_name }}',\n  {{ $json.total_tickets }},\n  {{ $json.total_topics }},\n  {{ $json.coverage_score }},\n  {{ $json.total_deflection_potential }},\n  {{ $json.summary.true_gaps }},\n  {{ $json.summary.quality_gaps }},\n  {{ $json.summary.discoverability_gaps }},\n  {{ $json.summary.covered }},\n  {{ $json.summary.high_priority }},\n  {{ $json.summary.medium_priority }}\n)\nON CONFLICT (scan_id) DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3952,
        128
      ],
      "id": "a480a402-0b17-45ae-9545-ccdcccb681fd",
      "name": "Postgres - Insert Scan",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kbg_sections (\n  scan_id, section_feature, topic_name, ticket_count, pct_of_total,\n  gap_type, gap_summary, recommended_action, priority,\n  deflection_potential, kcs_adoption_pct,\n  article_linked_yes, article_linked_no, article_linked_null,\n  recommended_articles\n) VALUES (\n  '{{ $json.scan_id }}',\n  '{{ $json.section_feature }}',\n  '{{ $json.topic_name }}',\n  {{ $json.ticket_count }},\n  {{ $json.pct_of_total }},\n  '{{ $json.gap_type }}',\n  '{{ $json.gap_summary.replace(/'/g, \"''\") }}',\n  '{{ $json.recommended_action.replace(/'/g, \"''\") }}',\n  '{{ $json.priority }}',\n  {{ $json.deflection_potential }},\n  {{ $json.kcs_adoption_pct }},\n  {{ $json.article_linked_yes }},\n  {{ $json.article_linked_no }},\n  {{ $json.article_linked_null }},\n  '{{ $json.recommended_articles }}'::jsonb\n)\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4416,
        128
      ],
      "id": "acbd4002-768b-4075-9813-c700f008acd2",
      "name": "Postgres - Insert Sections",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const scanData = $('Code - Assemble Final Output').first().json;\nconst scanId = scanData.scan_id;\nconst coverageMap = scanData.coverage_map || [];\n\nconst esc = s => (s || '').replace(/'/g, \"''\");\n\nreturn coverageMap.map(s => ({ json: {\n  scan_id: scanId,\n  section_feature: esc(s.section_feature),\n  topic_name: esc(s.topic_name),\n  ticket_count: s.ticket_count,\n  pct_of_total: s.pct_of_total,\n  gap_type: s.gap_type,\n  gap_summary: esc(s.gap_summary),\n  recommended_action: esc(s.recommended_action),\n  priority: s.priority,\n  deflection_potential: s.deflection_potential,\n  kcs_adoption_pct: s.kcs_adoption_pct,\n  article_linked_yes: s.article_linked_yes || 0,\n  article_linked_no: s.article_linked_no || 0,\n  article_linked_null: s.article_linked_null || 0,\n  recommended_articles: esc(JSON.stringify(s.recommended_articles || []))\n}}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        128
      ],
      "id": "3442015b-1ea3-4250-a590-abd4cb6592b4",
      "name": "Code - Prepare Section Inserts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.scan_id, s.scanned_at, s.date_from, s.date_to, s.form_name,\n  s.total_tickets, s.total_topics, s.coverage_score,\n  s.total_deflection_potential, s.true_gaps, s.quality_gaps,\n  s.discoverability_gaps, s.covered, s.high_priority, s.medium_priority,\n  json_agg(\n    json_build_object(\n      'topic_name', sec.topic_name,\n      'section_feature', sec.section_feature,\n      'ticket_count', sec.ticket_count,\n      'pct_of_total', sec.pct_of_total,\n      'gap_type', sec.gap_type,\n      'gap_summary', sec.gap_summary,\n      'recommended_action', sec.recommended_action,\n      'priority', sec.priority,\n      'deflection_potential', sec.deflection_potential,\n      'kcs_adoption_pct', sec.kcs_adoption_pct\n    ) ORDER BY sec.ticket_count DESC\n  ) as sections\nFROM kbg_scans s\nJOIN kbg_sections sec ON sec.scan_id = s.scan_id\nWHERE s.scan_id = '{{ $json.body?.scan_id || $json.scan_id }}'\n   OR (('{{ $json.body?.scan_id || $json.scan_id }}' = '' OR '{{ $json.body?.scan_id || $json.scan_id }}' = 'undefined') \n   AND s.scanned_at = (SELECT MAX(scanned_at) FROM kbg_scans))\nGROUP BY s.scan_id, s.scanned_at, s.date_from, s.date_to, s.form_name,\n  s.total_tickets, s.total_topics, s.coverage_score,\n  s.total_deflection_potential, s.true_gaps, s.quality_gaps,\n  s.discoverability_gaps, s.covered, s.high_priority, s.medium_priority;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        576
      ],
      "id": "22e858a1-80ac-4ffb-b49f-bb29310df2e9",
      "name": "Postgres - Load Scan Context",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Gap Scan": {
      "main": [
        [
          {
            "node": "Postgres - Get Form Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Scan": {
      "main": [
        [
          {
            "node": "HTTP - Search Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Search Tickets": {
      "main": [
        [
          {
            "node": "Code - Accumulate Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Accumulate Ticket Data": {
      "main": [
        [
          {
            "node": "IF - More Ticket Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Ticket Pages": {
      "main": [
        [
          {
            "node": "Wait - Ticket Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Start KB Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Ticket Page": {
      "main": [
        [
          {
            "node": "Code - Next Ticket URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Next Ticket URL": {
      "main": [
        [
          {
            "node": "HTTP - Search Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Start KB Fetch": {
      "main": [
        [
          {
            "node": "HTTP - Fetch KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch KB Articles": {
      "main": [
        [
          {
            "node": "Code - Accumulate KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Accumulate KB Articles": {
      "main": [
        [
          {
            "node": "IF - More KB Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More KB Pages": {
      "main": [
        [
          {
            "node": "Code - Next KB URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Build Coverage Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Next KB URL": {
      "main": [
        [
          {
            "node": "HTTP - Fetch KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Coverage Map": {
      "main": [
        [
          {
            "node": "Code - Build Section Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Chat": {
      "main": [
        [
          {
            "node": "Postgres - Load Scan Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chat Prompt": {
      "main": [
        [
          {
            "node": "Kipu LLM Webhook - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Webhook - Chat": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Usage - Chat": {
      "main": [
        [
          {
            "node": "Code - Parse Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Chat Response": {
      "main": [
        [
          {
            "node": "Respond - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse LLM Prompt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Kipu LLM Gap Analysis": {
      "main": [
        [
          {
            "node": "Code - Parse LLM Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable - KipuLLMUsage Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable - KipuLLMUsage Gap": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code - Assemble Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assemble Final Output": {
      "main": [
        [
          {
            "node": "Postgres - Insert Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Section Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Kipu LLM Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Form Config": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Field Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Field Options": {
      "main": [
        [
          {
            "node": "Code - Build Section Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Section Map": {
      "main": [
        [
          {
            "node": "Code - Prepare Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insert Scan": {
      "main": [
        [
          {
            "node": "Code - Prepare Section Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insert Sections": {
      "main": [
        [
          {
            "node": "Respond - Gap Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Section Inserts": {
      "main": [
        [
          {
            "node": "Postgres - Insert Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Load Scan Context": {
      "main": [
        [
          {
            "node": "Code - Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17b4bc91-d0ce-47a4-9858-dd16810150a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52593113cc94089cd75ae3f96772feead566141362fb1a394622a12d4e4e1f80"
  },
  "id": "n52jtMYVMcHfiIgJ",
  "tags": []
}