KB Gap Finder.json
{
  "name": "KB Gap Finder",
  "nodes": [
    {
      "parameters": {
        "path": "kb-gap-metadata",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        48
      ],
      "id": "631072ab-c965-41b1-b911-0bc40d955474",
      "name": "Webhook - Metadata",
      "webhookId": "kb-gap-metadata-001"
    },
    {
      "parameters": {
        "url": "https://kipuhealth.zendesk.com/api/v2/ticket_forms.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        48
      ],
      "id": "893d0255-ea37-4e7f-8010-7a5f9e127f19",
      "name": "HTTP - Get Ticket Forms",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://kipuhealth.zendesk.com/api/v2/ticket_fields/1900003693164.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        48
      ],
      "id": "f90a9991-1053-448f-8ee7-3dd5f4bd52ce",
      "name": "HTTP - Get EMR Section Field",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const forms = $('HTTP - Get Ticket Forms').first().json.ticket_forms || [];\nconst field = $('HTTP - Get EMR Section Field').first().json.ticket_field || {};\n\nconst NON_SUPPORT = new Set([\n  'non-support__abandoned_call_emr','emr_non-support__accounting',\n  'emr_client_success_manager__csm_emr','emr_hr','emr_implementation',\n  'emr_non-support__it','emr_non-support__labs','emr_non-support__legal',\n  'non-support__product','emr_sales','emr_non-support__security',\n  'emr_non-support__tech_touch','stakeholder_escalations_emr',\n  'vm__unable_to_reach_back_','sandbox_request'\n]);\n\nconst activeForms = forms\n  .filter(f => f.active && !f.name.toLowerCase().includes('test'))\n  .map(f => ({ id: f.id, name: f.name }));\n\nconst sectionOptions = (field.custom_field_options || [])\n  .filter(o => !NON_SUPPORT.has(o.value))\n  .map(o => ({ id: o.id, name: o.name, value: o.value }));\n\nreturn [{ json: {\n  forms: activeForms,\n  emr_form_id: '1900001563224',\n  section_feature_options: sectionOptions,\n  section_feature_field_id: field.id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        48
      ],
      "id": "8a3f6392-ae27-4e2a-a1d4-b3f003acdd19",
      "name": "Code - Build Metadata Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        752,
        48
      ],
      "id": "78bd8b35-729d-4a57-8643-b9ee353b65e1",
      "name": "Respond - Metadata"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-gap-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        560
      ],
      "id": "7b1a38a7-27c4-4e91-98ec-2ad6a22c715a",
      "name": "Webhook - Gap Scan",
      "webhookId": "kb-gap-scan-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst formId = body.form_id;\nconst dateFrom = body.date_from;\nconst dateTo = body.date_to;\n\nif (!formId) throw new Error('form_id is required');\nif (!dateFrom || !dateTo) throw new Error('date_from and date_to are required');\n\nconst data = $getWorkflowStaticData('global');\ndata.ticket_sections = {};\ndata.kb_articles = [];\n\nconst formConfig = $('Postgres - Get Form Config').first().json;\ndata.scan_params = { \n  form_id: formId, \n  form_name: formConfig.form_name || formId, \n  date_from: dateFrom, \n  date_to: dateTo \n};\n\nconst q = `ticket_form_id:${formId} created>${dateFrom} created<${dateTo} custom_field_1260824167549:support_`;\nconst url = `https://kipuhealth.zendesk.com/api/v2/search/export?filter%5Btype%5D=ticket&query=${encodeURIComponent(q)}&page%5Bsize%5D=1000`;\n\nreturn [{ json: { url } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        560
      ],
      "id": "67d3ea63-400b-495e-b71b-fa4db6b39e47",
      "name": "Code - Prepare Scan"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        560
      ],
      "id": "c097c064-4e99-4ca4-8e6f-2df2d33df536",
      "name": "HTTP - Search Tickets",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.ticket_sections) data.ticket_sections = {};\n\nconst ARTICLE_FIELD_IDS = [18158428639387, 25171038337691];\nconst sectionFieldId = Number(data.section_field_id);\nconst sectionMap = data.section_map || {};\n\nconst tickets = $json.results || [];\n\nfor (const ticket of tickets) {\n  const fields = ticket.custom_fields || [];\n\n  const sf = fields.find(f => Number(f.id) === sectionFieldId);\n  const sectionValue = sf?.value || 'unknown';\n  if (!sectionMap[sectionValue]) continue;\n\n  let articleLinked = null;\n  for (const fid of ARTICLE_FIELD_IDS) {\n    const f = fields.find(cf => Number(cf.id) === Number(fid));\n    if (f && f.value != null && f.value !== '') {\n      const v = String(f.value).toLowerCase().trim();\n      if (['kcs_linked_yes','kcslinked_yes','yes','true'].includes(v)) { articleLinked = true; break; }\n      if (['kcs_linked_no','kcslinked_no','no','false'].includes(v))   { articleLinked = false; break; }\n    }\n  }\n  if (articleLinked === null) {\n    const tags = ticket.tags || [];\n    if (tags.some(t => ['kcs_linked_yes','kcslinked_yes'].includes(t))) articleLinked = true;\n    else if (tags.some(t => ['kcs_linked_no','kcslinked_no'].includes(t))) articleLinked = false;\n  }\n\n  if (!data.ticket_sections[sectionValue]) {\n    data.ticket_sections[sectionValue] = { total: 0, linked_yes: 0, linked_no: 0, linked_null: 0 };\n  }\n  data.ticket_sections[sectionValue].total++;\n  if (articleLinked === true)       data.ticket_sections[sectionValue].linked_yes++;\n  else if (articleLinked === false) data.ticket_sections[sectionValue].linked_no++;\n  else                              data.ticket_sections[sectionValue].linked_null++;\n}\n\nconst hasMore = $json.meta?.has_more === true;\nconst nextUrl = hasMore ? ($json.links?.next || null) : null;\nconst total = Object.values(data.ticket_sections).reduce((s,v) => s + v.total, 0);\nreturn [{ json: { next_page: nextUrl, sections_tracked: Object.keys(data.ticket_sections).length, total_tickets_processed: total } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        560
      ],
      "id": "5c56e650-9889-4af3-a6d0-c49da276a023",
      "name": "Code - Accumulate Ticket Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_page }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "0f9c4f0b-36b3-4361-bbd2-1a042ce9930d"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        560
      ],
      "id": "05c8dd0e-a9c0-4913-92c7-8ec38e2995f1",
      "name": "IF - More Ticket Pages"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        384
      ],
      "id": "867fbd33-3499-4a76-a832-d25712245d7e",
      "name": "Wait - Ticket Page",
      "webhookId": "dc9a0306-7762-409c-9478-feeec86211f2"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { url: $json.next_page } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        384
      ],
      "id": "1b4eb3fd-918b-43cf-a602-d7311e6619f6",
      "name": "Code - Next Ticket URL"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { kb_url: 'https://kipuhealth.zendesk.com/api/v2/help_center/en-us/categories/360003364352/articles.json?per_page=100&page=1' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        672
      ],
      "id": "fb50e088-b861-46ca-907a-1f51a12885b4",
      "name": "Code - Start KB Fetch"
    },
    {
      "parameters": {
        "url": "={{ $json.kb_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        672
      ],
      "id": "b1cf43da-cc2f-474a-beb2-07069e0bb4d5",
      "name": "HTTP - Fetch KB Articles",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nif (!data.kb_articles) data.kb_articles = [];\n\nconst articles = $json.articles || [];\nfor (const a of articles) {\n  if (!a.draft) {\n    data.kb_articles.push({\n      id: a.id,\n      title: a.title,\n      section_id: a.section_id,\n      updated_at: a.updated_at,\n      outdated: a.outdated || false\n    });\n  }\n}\n\nreturn [{ json: { next_page: $json.next_page || null, articles_collected: data.kb_articles.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        672
      ],
      "id": "9ef021ee-6d17-456f-aec2-5f8e16c2f6c1",
      "name": "Code - Accumulate KB Articles"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_page }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "9a31a06d-f671-44fb-97a0-fd54ec7e6547"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        672
      ],
      "id": "5e6f57c7-74e6-4632-8ec9-1f1aac36f085",
      "name": "IF - More KB Pages"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { kb_url: $json.next_page } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        880
      ],
      "id": "09da146e-639c-4deb-961f-ebd20a5ac59a",
      "name": "Code - Next KB URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst scanParams = data.scan_params || {};\nconst ticketSections = data.ticket_sections || {};\nconst kbArticles = data.kb_articles || [];\nconst sectionMap = data.section_map || {};\n\nconst stopWords = new Set(['with','from','that','this','have','been','more','than','template','request','feature','and','the','for']);\n\nfunction findCandidateArticles(topicName) {\n  const keywords = topicName.toLowerCase()\n    .replace(/[^a-z0-9\\s]/g,' ').split(/\\s+/)\n    .filter(w => w.length > 3 && !stopWords.has(w));\n  return kbArticles.filter(a => {\n    const t = a.title.toLowerCase();\n    return keywords.some(kw => t.includes(kw));\n  }).slice(0, 10).map(a => ({ id: a.id, title: a.title, updated_at: a.updated_at, outdated: a.outdated }));\n}\n\nconst totalTickets = Object.values(ticketSections).reduce((s,v) => s + v.total, 0);\n\nconst rawSections = Object.entries(ticketSections)\n  .filter(([sv]) => sv !== 'unknown')\n  .map(([sv, counts]) => {\n    const topicName = sectionMap[sv] || sv;\n    const candidateArticles = findCandidateArticles(topicName);\n    const kcsRate = counts.total > 0 ? ((counts.linked_yes + counts.linked_no) / counts.total) * 100 : 0;\n    return {\n      section_feature: sv,\n      topic_name: topicName,\n      ticket_count: counts.total,\n      pct_of_total: totalTickets > 0 ? Math.round((counts.total / totalTickets) * 1000) / 10 : 0,\n      article_linked_yes: counts.linked_yes,\n      article_linked_no: counts.linked_no,\n      article_linked_null: counts.linked_null,\n      kcs_adoption_pct: Math.round(kcsRate * 10) / 10,\n      candidate_articles: candidateArticles\n    };\n  })\n  .filter(r => r.ticket_count > 0)\n  .sort((a,b) => b.ticket_count - a.ticket_count);\n\ndata.scan_meta = {\n  scan_id: Date.now().toString(),\n  scanned_at: new Date().toISOString(),\n  date_from: scanParams.date_from,\n  date_to: scanParams.date_to,\n  form_name: scanParams.form_name || scanParams.form_id,\n  total_tickets: totalTickets,\n  total_sections: rawSections.length\n};\ndata.llm_results = [];\ndata.ticket_sections = null;\ndata.kb_articles = null;\ndata.scan_params = null;\n\nreturn rawSections.map(s => ({ json: s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        688
      ],
      "id": "8ac18607-bdb9-46cb-9cea-8b8c5acaf1af",
      "name": "Code - Build Coverage Map"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4144,
        672
      ],
      "id": "2343bd59-a0cc-45df-9ab4-954d00d6e310",
      "name": "Respond - Gap Scan"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-gap-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        1728
      ],
      "id": "99520ace-c064-4ff1-bd16-6c9c66fa56da",
      "name": "Webhook - Chat",
      "webhookId": "kb-gap-chat-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst message = body.message || '';\nconst scanContext = body.scan_context || null;\nconst history = Array.isArray(body.history) ? body.history.slice(-4) : [];\n\nif (!message) throw new Error('message is required');\n\nconst top30 = scanContext ? (scanContext.coverage_map || []).slice(0,30).map(r => ({\n  topic: r.topic_name, tickets: r.ticket_count,\n  gap_type: r.gap_type, gap_label: r.gap_label,\n  articles: r.article_count, priority: r.priority,\n  deflection_potential: r.deflection_potential,\n  kcs_adoption_pct: r.kcs_adoption_pct\n})) : [];\n\nconst systemPrompt = scanContext\n  ? `You are a KB gap analysis assistant for Kipu EMR support operations. Answer questions ONLY from the scan data provided. Be concise — this is used in live meetings. Do not include PHI, customer names, URLs, or ticket content.\n\nSCAN SUMMARY:\n- Date range: ${scanContext.date_from} to ${scanContext.date_to}\n- Total tickets analyzed: ${(scanContext.total_tickets||0).toLocaleString()}\n- Topics tracked: ${scanContext.total_topics}\n- Coverage score: ${scanContext.coverage_score}%\n- True gaps (no article): ${scanContext.true_gaps}\n- Quality gaps (article needs work): ${scanContext.quality_gaps}\n- Discoverability gaps (article unused): ${scanContext.discoverability_gaps}\n- Total deflection potential: ${(scanContext.total_deflection_potential||0).toLocaleString()} tickets\n\nTOP 30 TOPICS BY VOLUME:\n${JSON.stringify(top30, null, 2)}`\n  : 'You are a KB gap analysis assistant. No scan data is loaded yet. Ask the user to run a gap scan first.';\n\nconst historyMessages = history.map(h => `${h.role === 'user' ? 'User' : 'Assistant'}: ${h.content}`).join('\\n');\nconst userPrompt = historyMessages ? `${historyMessages}\\nUser: ${message}` : message;\n\nreturn [{ json: { system_prompt: systemPrompt, user_prompt: userPrompt, original_message: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1728
      ],
      "id": "94e11529-cfb2-4be4-811f-0d029e7d5a9d",
      "name": "Code - Build Chat Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.user_prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.3"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        1728
      ],
      "id": "43a65358-9d97-4347-a94b-c8f30157ea07",
      "name": "Kipu LLM Webhook - Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        560,
        1728
      ],
      "id": "aabe5e45-05e8-417f-a8ad-57e76e04ec99",
      "name": "Kipu LLM Usage - Chat"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.output_text || $json.text || $json.response || '';\nconst usage = $json.usage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 };\nreturn [{ json: { response: String(response).trim(), usage } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1728
      ],
      "id": "ff31e8c5-5895-45f4-83b9-6bef0b046161",
      "name": "Code - Parse Chat Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        1728
      ],
      "id": "b3859891-947a-477f-a8a1-969c6f2b6539",
      "name": "Respond - Chat"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const section = $json;\n\nconst systemPrompt = `You are a knowledge base gap analyst for Kipu EMR support. Analyze the support ticket data for one EMR feature and classify the KB gap.\n\nReturn ONLY a valid JSON object with exactly these fields — no markdown, no explanation:\n{\n  \"section_feature\": string,\n  \"topic_name\": string,\n  \"ticket_count\": number,\n  \"pct_of_total\": number,\n  \"gap_type\": \"true_gap\" | \"discoverability_gap\" | \"quality_gap\" | \"covered\",\n  \"gap_summary\": string,\n  \"recommended_articles\": [{\"id\": number, \"title\": string, \"url\": string, \"relevance\": \"high\"|\"medium\"|\"low\"}],\n  \"recommended_action\": string,\n  \"priority\": \"HIGH\" | \"MEDIUM\" | \"LOW\",\n  \"deflection_potential\": number,\n  \"kcs_adoption_pct\": number\n}\n\nSTRICT RULES — these override your judgment:\n1. section_feature: copy the raw field value exactly as given in the input (e.g. \"login/password_emr_support_\")\n2. topic_name: copy the human-readable name exactly as given in the input (e.g. \"Login/Password\")\n3. If no candidate articles were provided, gap_type MUST be \"true_gap\" — never \"covered\" or \"discoverability_gap\"\n4. If kcs_adoption_pct is 0 AND linked_yes is 0, gap_type CANNOT be \"covered\" — use \"discoverability_gap\" if articles exist, \"true_gap\" if none exist\n5. \"covered\" requires articles to exist AND kcs_adoption_pct > 0\n6. Priority is based on absolute ticket count in the scanned date range: HIGH = 100+, MEDIUM = 30-99, LOW = under 30\n\nGap type definitions:\n- true_gap: No relevant KB articles exist — agents have nothing to link\n- discoverability_gap: Articles exist but kcs_adoption_pct is 0 — agents are not finding or linking them\n- quality_gap: Articles exist AND linked_yes > 0, but tickets keep coming — content needs improvement\n- covered: Articles exist AND kcs_adoption_pct > 0 — topic is supported\n\ngap_summary: 2-3 plain English sentences for a live executive meeting. Reference ticket volume, article availability, and the specific gap. Do not mention internal field names.\nrecommended_articles: 1-3 most relevant from candidates only. URL: https://kipuhealth.zendesk.com/hc/en-us/articles/{id}\ndeflection_potential: 60% of ticket_count for true_gap, 40% for discoverability_gap, 25% for quality_gap, 0 for covered.`;\n\n\nconst userPrompt = `Section: ${section.topic_name} (${section.section_feature})\nTickets: ${section.ticket_count} (${section.pct_of_total}% of total scanned)\nKCS Adoption: ${section.kcs_adoption_pct}%\n  Linked yes: ${section.article_linked_yes}\n  Linked no: ${section.article_linked_no}\n  Not recorded: ${section.article_linked_null}\n\nCandidate KB articles (keyword matched — may include irrelevant results):\n${section.candidate_articles.length > 0\n  ? section.candidate_articles.map(a => `- [${a.id}] \"${a.title}\" | updated: ${a.updated_at.slice(0,10)} | outdated: ${a.outdated}`).join('\\n')\n  : 'None found'}\n\nReturn ONLY the JSON object.`;\n\nreturn { json: {\n  system_prompt: systemPrompt,\n  prompt: userPrompt,\n  section_feature: section.section_feature,\n  topic_name: section.topic_name,\n  ticket_count: section.ticket_count\n}};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        688
      ],
      "id": "ebd002f4-c52b-4857-a8c5-f701d1b42c0f",
      "name": "Code - Build Section Prompt"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output_text || $json.text || $json.response || '';\nconst usage = $json.usage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 };\n\nconst data = $getWorkflowStaticData('global');\nif (!data.llm_results) data.llm_results = [];\n\nlet parsed;\ntry {\n  const match = String(raw).match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON in response');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed = {\n    gap_type: 'unknown',\n    gap_summary: 'Analysis unavailable.',\n    recommended_articles: [],\n    recommended_action: 'Manual review required.',\n    priority: 'LOW',\n    deflection_potential: 0,\n    kcs_adoption_pct: 0\n  };\n}\n\n// Always override section_feature and topic_name from original input to prevent LLM swapping them\nparsed.section_feature = $('Code - Build Section Prompt').item.json.section_feature;\nparsed.topic_name = $('Code - Build Section Prompt').item.json.topic_name;\nparsed.ticket_count = $('Code - Build Section Prompt').item.json.ticket_count;\n\ndata.llm_results.push(parsed);\nconst isDone = data.llm_results.length >= (data.scan_meta?.total_sections || 1);\n\nreturn { json: { is_done: isDone, usage, section_done: parsed.topic_name, count: data.llm_results.length, total: data.scan_meta?.total_sections } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        688
      ],
      "id": "a48be9ad-38f6-4a79-8a5e-83ebcc2f9dcd",
      "name": "Code - Parse LLM Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.2"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3232,
        688
      ],
      "id": "fc4aca8c-9992-40ce-96bb-7a519bf15f49",
      "name": "HTTP - Kipu LLM Gap Analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3440,
        880
      ],
      "id": "668d1505-b0bf-4a13-ab6d-01f8e281f30d",
      "name": "DataTable - KipuLLMUsage Gap"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81c6f47b-5632-4054-bf9f-e5dcb3b0613a",
              "leftValue": "={{ $json.is_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3664,
        688
      ],
      "id": "b8ea94ac-5ae5-4aa3-87a4-783f675cbc74",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst scanMeta = data.scan_meta || { scan_id: Date.now().toString(), scanned_at: new Date().toISOString(), date_from: null, date_to: null, form_name: 'EMR Default Form', total_tickets: 0 };\nconst coverageMap = (data.llm_results || []).sort((a,b) => (b.ticket_count||0) - (a.ticket_count||0));\n\ncoverageMap.forEach(r => r.deflection_potential = Math.round(r.deflection_potential));\n\nconst trueGaps = coverageMap.filter(r => r.gap_type === 'true_gap').length;\nconst qualityGaps = coverageMap.filter(r => r.gap_type === 'quality_gap').length;\nconst discoverabilityGaps = coverageMap.filter(r => r.gap_type === 'discoverability_gap').length;\nconst covered = coverageMap.filter(r => r.gap_type === 'covered').length;\nconst totalDeflection = coverageMap.reduce((s,r) => s + (r.deflection_potential || 0), 0);\nconst coverageScore = coverageMap.length > 0 ? Math.round((covered / coverageMap.length) * 100) : 0;\n\ndata.llm_results = null;\ndata.scan_meta = null;\n\nreturn [{ json: {\n  scan_id: scanMeta.scan_id,\n  scanned_at: scanMeta.scanned_at,\n  date_from: scanMeta.date_from,\n  date_to: scanMeta.date_to,\n  form_name: scanMeta.form_name,\n  total_tickets: scanMeta.total_tickets,\n  total_topics: coverageMap.length,\n  coverage_score: coverageScore,\n  total_deflection_potential: totalDeflection,\n  summary: {\n    true_gaps: trueGaps,\n    quality_gaps: qualityGaps,\n    discoverability_gaps: discoverabilityGaps,\n    covered: covered,\n    high_priority: coverageMap.filter(r => r.priority === 'HIGH').length,\n    medium_priority: coverageMap.filter(r => r.priority === 'MEDIUM').length\n  },\n  coverage_map: coverageMap\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        672
      ],
      "id": "8c90f992-f20b-4ebb-9bcd-40574606d94e",
      "name": "Code - Assemble Final Output"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT form_name, section_field_id, section_field_name \nFROM kbg_form_config \nWHERE form_id = '{{ $json.form_id }}' AND active = true\nLIMIT 1\n",
        "options": {}
      },
      "id": "90045b17-ccc6-46df-a5a2-74874eb365e7",
      "name": "Postgres - Get Form Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/ticket_fields/{{ $json.section_field_id }}.json\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "94f15f9e-f522-4298-a811-567737d24ad6",
      "name": "HTTP - Fetch Field Options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        560
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const field = $json.ticket_field;\nconst options = field.custom_field_options || [];\n\nconst sectionMap = {};\noptions.forEach(opt => {\n  sectionMap[opt.value] = opt.name;\n});\n\nconst data = $getWorkflowStaticData('global');\ndata.section_map = sectionMap;\ndata.section_field_id = field.id.toString();\n\nreturn [{ json: { \n  section_field_id: field.id.toString(),\n  section_field_name: field.title,\n  total_options: options.length\n}}];\n"
      },
      "id": "951c79a0-c0dd-4d66-beec-a1f3fb16efa9",
      "name": "Code - Build Section Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Metadata": {
      "main": [
        [
          {
            "node": "HTTP - Get Ticket Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Ticket Forms": {
      "main": [
        [
          {
            "node": "HTTP - Get EMR Section Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get EMR Section Field": {
      "main": [
        [
          {
            "node": "Code - Build Metadata Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Metadata Response": {
      "main": [
        [
          {
            "node": "Respond - Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Gap Scan": {
      "main": [
        [
          {
            "node": "Postgres - Get Form Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Scan": {
      "main": [
        [
          {
            "node": "HTTP - Search Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Search Tickets": {
      "main": [
        [
          {
            "node": "Code - Accumulate Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Accumulate Ticket Data": {
      "main": [
        [
          {
            "node": "IF - More Ticket Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Ticket Pages": {
      "main": [
        [
          {
            "node": "Wait - Ticket Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Start KB Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Ticket Page": {
      "main": [
        [
          {
            "node": "Code - Next Ticket URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Next Ticket URL": {
      "main": [
        [
          {
            "node": "HTTP - Search Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Start KB Fetch": {
      "main": [
        [
          {
            "node": "HTTP - Fetch KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch KB Articles": {
      "main": [
        [
          {
            "node": "Code - Accumulate KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Accumulate KB Articles": {
      "main": [
        [
          {
            "node": "IF - More KB Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More KB Pages": {
      "main": [
        [
          {
            "node": "Code - Next KB URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Build Coverage Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Next KB URL": {
      "main": [
        [
          {
            "node": "HTTP - Fetch KB Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Coverage Map": {
      "main": [
        [
          {
            "node": "Code - Build Section Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Chat": {
      "main": [
        [
          {
            "node": "Code - Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chat Prompt": {
      "main": [
        [
          {
            "node": "Kipu LLM Webhook - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Webhook - Chat": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Usage - Chat": {
      "main": [
        [
          {
            "node": "Code - Parse Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Chat Response": {
      "main": [
        [
          {
            "node": "Respond - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse LLM Prompt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Kipu LLM Gap Analysis": {
      "main": [
        [
          {
            "node": "Code - Parse LLM Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable - KipuLLMUsage Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable - KipuLLMUsage Gap": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code - Assemble Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assemble Final Output": {
      "main": [
        [
          {
            "node": "Respond - Gap Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Section Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Kipu LLM Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Form Config": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Field Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Field Options": {
      "main": [
        [
          {
            "node": "Code - Build Section Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Section Map": {
      "main": [
        [
          {
            "node": "Code - Prepare Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f38ba2c-9baa-428a-9fde-c4bf825e9276",
  "meta": {
    "instanceId": "52593113cc94089cd75ae3f96772feead566141362fb1a394622a12d4e4e1f80"
  },
  "id": "n52jtMYVMcHfiIgJ",
  "tags": []
}