Kipu - Zendesk Metrics.json
{
  "name": "Kipu - Zendesk Metrics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zendesk-metrics-preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3da8239e-cebb-47ed-bef2-3757e335375f",
      "name": "Webhook - Preview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        352,
        784
      ],
      "webhookId": "99db3565-a4c3-4e91-afbf-1a6d88813dcf"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "70c4ed81-f91c-4b77-9fc9-a09d2df5cab5",
      "name": "Zendesk - Preview Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        784
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eb02d31d-30f5-41e8-b367-b88e11ac6106",
      "name": "Respond - Preview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        784
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zendesk-metrics-sync-forms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ab0fd541-578c-48be-99f5-b58be9f9136e",
      "name": "Webhook - Sync Forms",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        384,
        96
      ],
      "webhookId": "aaadccde-adda-4b60-935f-33e4b083d001"
    },
    {
      "parameters": {
        "url": "https://kipuhealth.zendesk.com/api/v2/ticket_forms.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "fcfeb490-90cf-4e28-94d2-1c7ab1c54cd2",
      "name": "Zendesk Ticket Forms Pull",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        96
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const forms = $json.ticket_forms || [];\nreturn forms.map(f => ({ json: { form_id: f.id ?? null, form_name: f.name ?? null } }));"
      },
      "id": "9e450efe-5da9-47b7-9be1-1293396b44be",
      "name": "Build Ticket Form Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { rows_json: JSON.stringify(rows), row_count: rows.length } }];"
      },
      "id": "23e8635e-9f44-4080-9042-4a61fafaae1b",
      "name": "Pack Form Rows JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO zendesk_ticket_forms_staging (form_id, form_name)\nSELECT x.form_id, x.form_name\nFROM jsonb_to_recordset('{{ $json.rows_json }}'::jsonb) AS x(\n  form_id bigint,\n  form_name text\n)\nON CONFLICT (form_id) DO UPDATE SET\n  form_name = EXCLUDED.form_name,\n  fetched_at = now();",
        "options": {}
      },
      "id": "1b5935ba-3abe-46b8-8f2f-19fc9d7014c5",
      "name": "Postgres - Upsert Forms",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1376,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const count = $('Pack Form Rows JSON').first().json.row_count || 0;\nreturn [{ json: { status: 'ok', forms_synced: count } }];"
      },
      "id": "79f04ce9-20c6-4d95-a600-184c4bae2a8c",
      "name": "Build Forms Sync Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5412991-f545-49ee-9fc8-986d95580649",
      "name": "Respond - Sync Forms",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1856,
        96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zendesk-metrics-sync-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "78e14314-5d08-4349-98d9-b2473651c4ce",
      "name": "Webhook - Sync Users",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        384,
        448
      ],
      "webhookId": "8651fc03-7baf-4e03-9f99-986a8cc887ba"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.users_pages_loaded = 0;\ndata.users_rows_loaded = 0;\nreturn [{ json: { url: 'https://kipuhealth.zendesk.com/api/v2/users.json?role[]=agent&page=1&per_page=100' } }];"
      },
      "id": "d1358858-dd79-4a47-b31c-c76fb93105c5",
      "name": "Init Users Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        448
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "03a454fe-3fcb-4e2b-9892-10efb9e6375d",
      "name": "Fetch Users Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        448
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $json.users || [];\nreturn users.map(u => ({ json: { zendesk_user_id: u.id ?? null, agent_name: u.name ?? null, email: u.email ?? null, default_group_id: u.default_group_id ?? null, active: u.active ?? null } }));"
      },
      "id": "3fdf0382-a8c1-47ac-b3a4-ec17c266fb7d",
      "name": "Build User Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { rows_json: JSON.stringify(rows), row_count: rows.length } }];"
      },
      "id": "e215d2b5-3655-4524-9d92-371fe63e9a79",
      "name": "Pack User Rows JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO zendesk_users_staging (zendesk_user_id, agent_name, email, default_group_id, active)\nSELECT x.zendesk_user_id, x.agent_name, x.email, x.default_group_id, x.active\nFROM jsonb_to_recordset('{{ $json.rows_json }}'::jsonb) AS x(\n  zendesk_user_id bigint,\n  agent_name text,\n  email text,\n  default_group_id bigint,\n  active boolean\n)\nON CONFLICT (zendesk_user_id) DO UPDATE SET\n  agent_name = EXCLUDED.agent_name,\n  email = EXCLUDED.email,\n  default_group_id = EXCLUDED.default_group_id,\n  active = EXCLUDED.active,\n  fetched_at = now();",
        "options": {}
      },
      "id": "fbe77d10-21ec-4448-9ced-6fdbffd3343d",
      "name": "Postgres - Upsert Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1616,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst body = $('Fetch Users Page').first().json;\nconst rowCount = $('Pack User Rows JSON').first().json.row_count || 0;\ndata.users_pages_loaded = (data.users_pages_loaded || 0) + 1;\ndata.users_rows_loaded = (data.users_rows_loaded || 0) + rowCount;\nreturn [{ json: { next_page: body.next_page || null, page_row_count: rowCount, pages_loaded: data.users_pages_loaded, total_rows_loaded: data.users_rows_loaded, end_of_stream: !body.next_page } }];"
      },
      "id": "ee49c1c5-b03f-4c5e-8d31-dbcf9a413f19",
      "name": "Build Users Page State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "user-more",
              "leftValue": "={{ $json.end_of_stream }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9528292-6eb5-4eb0-88ca-2c22b8695c62",
      "name": "More User Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { url: $json.next_page } }];"
      },
      "id": "4d2c42d7-b7a6-49e0-9d02-6416993060d8",
      "name": "Next Users Page URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nreturn [{ json: { status: 'ok', pages_loaded: data.users_pages_loaded || 0, users_synced: data.users_rows_loaded || 0 } }];"
      },
      "id": "58c64afe-a189-48e9-88a5-2cf1b67a4aab",
      "name": "Build Users Sync Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        528
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9d922e98-367d-4c8b-9438-34a3698c654f",
      "name": "Respond - Sync Users",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2608,
        528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        1232
      ],
      "id": "08e9f727-b1a5-4de0-a958-7aeba3365f66",
      "name": "Webhook - Export Sync",
      "webhookId": "5a5b72f3-8d92-4f75-b54f-b1dd5d043e0e"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.ticket_ids = [];\ndata.export_count = 0;\n\nconst body = $json.body || $json;\nconst date_from = body.date_from;\nconst date_to = body.date_to;\nconst form_id = body.form_id;\nconst form_name = body.form_name;\n\nif (!form_id || !date_from || !date_to) {\n  throw new Error('form_id, form_name, date_from, and date_to are required');\n}\n\ndata.form_name = form_name;\n\nconst queryParts = [\n  'type:ticket',\n  `ticket_form_id:${form_id}`,\n  `created>=${date_from}`,\n  `created<${date_to}`\n];\n\nqueryParts.push('custom_field_1260824167549:support_');\n\n\nconst query = queryParts.join(' ');\nconst url = `https://kipuhealth.zendesk.com/api/v2/search/export.json?query=${encodeURIComponent(query)}&filter[type]=ticket`;\n\nreturn [{ json: { url, date_from, date_to, form_id, form_name } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1232
      ],
      "id": "03cae5e3-fc3d-45ff-b64e-552f335035e6",
      "name": "Code - Build Export URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "db7dac16-0d2f-461e-b8d4-ce8620e5037d",
      "name": "HTTP - Fetch Export Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        1232
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\nconst data = $getWorkflowStaticData('global');\n\nif (!data.ticket_ids) data.ticket_ids = [];\ndata.ticket_ids = data.ticket_ids.concat(results.map(t => t.id));\n\nreturn [{\n  json: {\n    url: $json.links?.next || null,\n    total_count: data.ticket_ids.length,\n    has_more: $json.meta?.has_more,\n    pages_so_far: Math.ceil(data.ticket_ids.length / 100)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        1232
      ],
      "id": "2c19458c-a760-4984-900b-47c647328ee0",
      "name": "Code - Accumulate + Next URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "56d6bbfa-6652-42aa-ab3d-2cc7a7bbd1bb",
              "leftValue": "={{ $json.has_more }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        1232
      ],
      "id": "eec0b784-ebe5-4844-8b67-7e6afc31df7d",
      "name": "If - Has More Pages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        1248
      ],
      "id": "3f16d966-53e0-4f0d-9bf8-14fd4af2ef1d",
      "name": "Respond to Export Sync Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO support_ticket_metrics_fact (\n  ticket_id, ticket_created_at, ticket_updated_at, ticket_solved_at,\n  status, channel, form_id, form_name,\n  assignee_id, group_id, csat_score,\n  first_reply_time_business_minutes, next_reply_time_business_minutes,\n  pausable_update_time_business_minutes, requester_wait_time_business_minutes,\n  full_resolution_time_business_minutes, one_business_day_solve_flag,\n  ticket_count, synced_at, sla_breached_flag, article_linked_flag, missed_call_flag\n)\nVALUES (\n  {{ $json.ticket_id }},\n  '{{ $json.ticket_created_at }}',\n  '{{ $json.ticket_updated_at }}',\n  {{ $json.ticket_solved_at ? `'${$json.ticket_solved_at}'` : 'NULL' }},\n  '{{ $json.status }}',\n  {{ $json.channel ? `'${$json.channel}'` : 'NULL' }},\n  {{ $json.form_id || 'NULL' }},\n  NULL,\n  {{ $json.assignee_id || 'NULL' }},\n  {{ $json.group_id || 'NULL' }},\n  {{ $json.csat_score ? `'${$json.csat_score}'` : 'NULL' }},\n  {{ $json.first_reply_time_business_minutes ?? 'NULL' }},\n  {{ $json.next_reply_time_business_minutes ?? 'NULL' }},\n  {{ $json.pausable_update_time_business_minutes ?? 'NULL' }},\n  {{ $json.requester_wait_time_business_minutes ?? 'NULL' }},\n  {{ $json.full_resolution_time_business_minutes ?? 'NULL' }},\n  {{ $json.one_business_day_solve_flag ?? 'NULL' }},\n  1,\n  '{{ $json.synced_at }}',\n  {{ $json.sla_breached_flag ?? 'NULL' }},\n  {{ $json.article_linked_flag ?? 'NULL' }},\n  {{ $json.missed_call_flag ?? 'NULL' }}\n)\nON CONFLICT (ticket_id) DO UPDATE SET\n  ticket_updated_at = EXCLUDED.ticket_updated_at,\n  ticket_solved_at = EXCLUDED.ticket_solved_at,\n  status = EXCLUDED.status,\n  channel = EXCLUDED.channel,\n  csat_score = EXCLUDED.csat_score,\n  first_reply_time_business_minutes = EXCLUDED.first_reply_time_business_minutes,\n  next_reply_time_business_minutes = EXCLUDED.next_reply_time_business_minutes,\n  pausable_update_time_business_minutes = EXCLUDED.pausable_update_time_business_minutes,\n  requester_wait_time_business_minutes = EXCLUDED.requester_wait_time_business_minutes,\n  full_resolution_time_business_minutes = EXCLUDED.full_resolution_time_business_minutes,\n  one_business_day_solve_flag = EXCLUDED.one_business_day_solve_flag,\n  sla_breached_flag = EXCLUDED.sla_breached_flag,\n  article_linked_flag = EXCLUDED.article_linked_flag,\n  missed_call_flag = EXCLUDED.missed_call_flag,\n  synced_at = EXCLUDED.synced_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        1248
      ],
      "id": "83b9d1f6-1398-4cbf-ab5e-b36c803a6a78",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/search/count.json?query=type:ticket ticket_form_id:1900001563224 ticket_form_id:32729757998235 ticket_form_id:1260812421569 ticket_form_id:5374649379867 created>=2026-01-01 created<2026-04-01 custom_field_1260824167549:support_\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "2275a802-6c22-4b6a-9d01-1d6643dfba74",
      "name": "HTTP - One Time Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        1536
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst ids = data.ticket_ids || [];\n\ndata.ticket_ids = [];\ndata.export_count = 0;\n\nconst batches = [];\nfor (let i = 0; i < ids.length; i += 100) {\n  batches.push(ids.slice(i, i + 100));\n}\n\nreturn batches.map(batch => ({\n  json: {\n    ids: batch.join(','),\n    count: batch.length\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1248
      ],
      "id": "838d08e4-4b8d-4952-bb0f-87b230c25dae",
      "name": "Code - Batch for Show Many"
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/tickets/show_many.json?ids={{ $json.ids }}&include=metric_sets,slas\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1616,
        1248
      ],
      "id": "f7fbe89a-f475-4e70-860f-e5c4f01e1ddf",
      "name": "HTTP - Show Many + Metrics",
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ARTICLE_LINKED_FIELD_IDS = [18158428639387, 25171038337691];\n\nfunction getCustomFieldValue(ticket, fieldIds) {\n  const fields = Array.isArray(ticket.custom_fields) ? ticket.custom_fields : [];\n  for (const fieldId of fieldIds) {\n    const match = fields.find(f => Number(f.id) === Number(fieldId));\n    if (match && match.value != null && match.value !== '') return match.value;\n  }\n  return null;\n}\n\nfunction hasAnyTag(ticket, tagList) {\n  const tags = Array.isArray(ticket.tags) ? ticket.tags : [];\n  return tagList.some(tag => tags.includes(tag));\n}\n\nfunction getArticleLinkedFlag(ticket) {\n  const raw = getCustomFieldValue(ticket, ARTICLE_LINKED_FIELD_IDS);\n  if (raw === 'kcs_linked_yes' || raw === 'kcslinked_yes') return true;\n  if (raw === 'kcs_linked_no' || raw === 'kcslinked_no') return false;\n  if (hasAnyTag(ticket, ['kcs_linked_yes', 'kcslinked_yes'])) return true;\n  if (hasAnyTag(ticket, ['kcs_linked_no', 'kcslinked_no'])) return false;\n  return null;\n}\n\nfunction getSlaBreachedFlag(ticket, metric) {\n  const policyMetrics = Array.isArray(ticket.slas?.policy_metrics)\n    ? ticket.slas.policy_metrics : [];\n  if (!policyMetrics.length) return null;\n  const solvedAt = metric?.solved_at ? new Date(metric.solved_at) : null;\n  return policyMetrics.some(m => {\n    if (!m.breach_at) return false;\n    if (solvedAt) return new Date(m.breach_at) < solvedAt;\n    return m.stage === 'breached';\n  });\n}\n\nconst allTickets = [];\nfor (const item of $input.all()) {\n  const tickets = item.json.tickets || [];\n  allTickets.push(...tickets);\n}\n\nreturn allTickets.map(t => {\n  const m = t.metric_set || {};\n  const resolution = m.full_resolution_time_in_minutes?.business ?? null;\n\n  return {\n    json: {\n      ticket_id: t.id,\n      ticket_created_at: t.created_at,\n      ticket_updated_at: t.updated_at,\n      ticket_solved_at: m.solved_at ?? t.solved_at ?? null,\n      status: t.status,\n      channel: t.via?.channel || null,\n      form_id: t.ticket_form_id || null,\n      form_name: null,\n      assignee_id: t.assignee_id || null,\n      group_id: t.group_id || null,\n      csat_score: t.satisfaction_rating?.score || null,\n      first_reply_time_business_minutes: m.reply_time_in_minutes?.business ?? null,\n      next_reply_time_business_minutes: null,\n      pausable_update_time_business_minutes: m.on_hold_time_in_minutes?.business ?? null,\n      requester_wait_time_business_minutes: m.requester_wait_time_in_minutes?.business ?? null,\n      full_resolution_time_business_minutes: resolution,\n      one_business_day_solve_flag: resolution != null ? resolution <= 480 : null,\n      sla_breached_flag: getSlaBreachedFlag(t, m),\n      article_linked_flag: getArticleLinkedFlag(t),\n      missed_call_flag: null,\n      ticket_count: 1,\n      synced_at: new Date().toISOString()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        1248
      ],
      "id": "c8cf8753-9965-4d06-9a88-266c96a99547",
      "name": "Code - Format Tickets"
    },
    {
      "parameters": {
        "jsCode": "const fields = $json.ticket_fields || [];\nreturn [{\n  json: {\n    fields: fields.map(f => ({\n      id: f.id,\n      title: f.title,\n      type: f.type,\n      key: f.key\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1536
      ],
      "id": "c79abeb4-fb42-44e2-aa01-9c29913955a2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst form_id = body.form_id;\nconst form_name = body.form_name;\nconst date_from = body.date_from;\nconst date_to = body.date_to;\n\nconst query = `type:ticket ticket_form_id:${form_id} created>=${date_from} created<${date_to} custom_field_1260824167549:support_`;\n\nreturn [{ json: { \n  url: `https://kipuhealth.zendesk.com/api/v2/search/count.json?query=${encodeURIComponent(query)}`,\n  form_id,\n  form_name,\n  date_from,\n  date_to,\n  zendesk_query: query\n} }];\n"
      },
      "id": "76681ff4-86c1-4a1b-9e3f-349e4ea53198",
      "name": "Code - Build Count URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "const req = $('Code - Build Count URL').first().json;\nconst res = $json;\nreturn [{ json: { \n  source: 'zendesk', \n  filters: { \n    form_id: req.form_id, \n    form_name: req.form_name, \n    date_from: req.date_from, \n    date_to: req.date_to, \n    query_used: req.zendesk_query \n  }, \n  total_found: res.count ?? 0 \n} }];\n"
      },
      "id": "78a7b1cc-6fb7-44f4-9fd9-1576d4d0690c",
      "name": "Code - Build Count Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        784
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Preview": {
      "main": [
        [
          {
            "node": "Code - Build Count URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk - Preview Count": {
      "main": [
        [
          {
            "node": "Code - Build Count Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Sync Forms": {
      "main": [
        [
          {
            "node": "Zendesk Ticket Forms Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Ticket Forms Pull": {
      "main": [
        [
          {
            "node": "Build Ticket Form Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ticket Form Rows": {
      "main": [
        [
          {
            "node": "Pack Form Rows JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Form Rows JSON": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Forms": {
      "main": [
        [
          {
            "node": "Build Forms Sync Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Forms Sync Response": {
      "main": [
        [
          {
            "node": "Respond - Sync Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Sync Users": {
      "main": [
        [
          {
            "node": "Init Users Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Users Sync": {
      "main": [
        [
          {
            "node": "Fetch Users Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Users Page": {
      "main": [
        [
          {
            "node": "Build User Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Rows": {
      "main": [
        [
          {
            "node": "Pack User Rows JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack User Rows JSON": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Users": {
      "main": [
        [
          {
            "node": "Build Users Page State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Users Page State": {
      "main": [
        [
          {
            "node": "More User Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More User Pages?": {
      "main": [
        [
          {
            "node": "Next Users Page URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Users Sync Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Users Page URL": {
      "main": [
        [
          {
            "node": "Fetch Users Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Users Sync Response": {
      "main": [
        [
          {
            "node": "Respond - Sync Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Export Sync": {
      "main": [
        [
          {
            "node": "Code - Build Export URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Export URL": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Export Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Export Page": {
      "main": [
        [
          {
            "node": "Code - Accumulate + Next URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Accumulate + Next URL": {
      "main": [
        [
          {
            "node": "If - Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Has More Pages": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Export Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Batch for Show Many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Export Sync Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Batch for Show Many": {
      "main": [
        [
          {
            "node": "HTTP - Show Many + Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Show Many + Metrics": {
      "main": [
        [
          {
            "node": "Code - Format Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Tickets": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - One Time Calls": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Count URL": {
      "main": [
        [
          {
            "node": "Zendesk - Preview Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Count Response": {
      "main": [
        [
          {
            "node": "Respond - Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47941400-1155-43cf-ab7d-ef357c666d19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52593113cc94089cd75ae3f96772feead566141362fb1a394622a12d4e4e1f80"
  },
  "id": "Wp1LMQrk4tVyXTG5",
  "tags": []
}