Kipu KB Gap Finder.json
{
  "name": "Kipu KB Gap Finder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kipu-intel-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1088,
        352
      ],
      "id": "99520ace-c064-4ff1-bd16-6c9c66fa56da",
      "name": "Webhook - Chat",
      "webhookId": "kb-gap-chat-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Code - Parse Query Context').first().json;\nconst message = body.message || '';\nconst history = Array.isArray(body.history) ? body.history.slice(-4) : [];\n\nif (!message) throw new Error('message is required');\n\nconst scan = $('Postgres - Load Scan Context').first().json;\nconst metrics = $('Postgres - Load Metrics Context').first().json;\nconst sections = scan.sections || [];\n\nconst formLabel = body.form_name || 'All Forms';\nconst dateLabel = body.date_from ? `${body.date_from} to ${body.date_to}` : 'all available data';\n\nconst metricsContext = metrics.total_tickets > 0 ? `\nSUPPORT METRICS (${formLabel}, ${dateLabel}):\n- Total tickets: ${metrics.total_tickets}\n- Solved tickets: ${metrics.solved_tickets}\n- Avg resolution time: ${metrics.avg_resolution_hours != null ? metrics.avg_resolution_hours + ' hours' : 'N/A'}\n- SLA breach rate: ${metrics.sla_breach_pct ?? 'N/A'}%\n- Article link rate: ${metrics.article_link_pct ?? 'N/A'}%\n- CSAT: ${metrics.csat_pct ?? 'N/A'}% good (${metrics.csat_responses ?? 0} actual responses out of ${metrics.total_tickets} tickets — low response rate is normal)` : '\\nSUPPORT METRICS: No ticket data found for the selected filters.';\n\nconst kbContext = scan.scan_id ? `\nKB GAP ANALYSIS (${scan.form_name}, ${scan.date_from} to ${scan.date_to}):\n- Total tickets analyzed: ${scan.total_tickets}\n- Topics tracked: ${scan.total_topics}\n- Coverage score: ${scan.coverage_score}%\n- KB availability gaps (no articles): ${scan.kb_availability} | KB linking gaps (articles unused): ${scan.kb_linking} | KB usage gaps (needs improvement): ${scan.kb_usage} | Non-KB topics: ${scan.non_kb}\n- High priority topics: ${scan.high_priority} | Medium: ${scan.medium_priority}\n- Est. deflection rate: ${scan.deflection_rate}%\n\nALL KB TOPICS (by volume):\n${sections.map(s => `- ${s.topic_name}: ${s.ticket_count} tickets | ${s.gap_type} | ${s.priority} priority | KCS: ${s.kcs_adoption_pct}%\n  Summary: ${s.gap_summary}\n  Action: ${s.recommended_action}`).join('\\n')}` : '\\nKB GAP ANALYSIS: No scan data found for the selected filters.';\n\nconst systemPrompt = `You are a support intelligence assistant for Kipu Health. You have access to two data sources: live support ticket metrics and KB gap analysis. For every question, cross-reference both sources to surface insights neither could show alone — for example, connecting high SLA breach rates to missing KB articles, or linking CSAT dips to topics with no coverage. Always lead with the most actionable insight. Be concise and specific — cite ticket volumes, percentages, and topic names. If the data doesn't contain enough to answer, say so plainly.\n${metricsContext}\n${kbContext}`;\n\nconst historyMessages = history.map(h => `${h.role === 'user' ? 'User' : 'Assistant'}: ${h.content}`).join('\\n');\nconst userPrompt = historyMessages ? `${historyMessages}\\nUser: ${message}` : message;\n\nreturn [{ json: { system_prompt: systemPrompt, user_prompt: userPrompt, original_message: message } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        352
      ],
      "id": "94e11529-cfb2-4be4-811f-0d029e7d5a9d",
      "name": "Code - Build Chat Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.user_prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.3"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        352
      ],
      "id": "43a65358-9d97-4347-a94b-c8f30157ea07",
      "name": "Kipu LLM Webhook - Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2928,
        496
      ],
      "id": "aabe5e45-05e8-417f-a8ad-57e76e04ec99",
      "name": "Kipu LLM Usage - Chat"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('Kipu LLM Webhook - Chat').first().json;\nconst response = llmOutput.output_text || llmOutput.text || llmOutput.response || '';\nconst usage = llmOutput.usage || { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 };\nreturn [{ json: { response: String(response).trim(), usage } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        352
      ],
      "id": "ff31e8c5-5895-45f4-83b9-6bef0b046161",
      "name": "Code - Parse Chat Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3408,
        352
      ],
      "id": "b3859891-947a-477f-a8a1-969c6f2b6539",
      "name": "Respond - Chat"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.scan_id, s.scanned_at, s.date_from, s.date_to, s.form_name,\n  s.total_tickets, s.total_topics, s.coverage_score,\n  s.deflection_rate, s.kb_availability, s.kb_linking,\n  s.kb_usage, s.non_kb, s.high_priority, s.medium_priority,\n  json_agg(\n    json_build_object(\n      'topic_name', sec.topic_name,\n      'section_feature', sec.section_feature,\n      'ticket_count', sec.ticket_count,\n      'pct_of_total', sec.pct_of_total,\n      'gap_type', sec.gap_type,\n      'gap_summary', sec.gap_summary,\n      'recommended_action', sec.recommended_action,\n      'priority', sec.priority,\n      'deflection_potential', sec.deflection_potential,\n      'kcs_adoption_pct', sec.kcs_adoption_pct\n    ) ORDER BY sec.ticket_count DESC\n  ) as sections\nFROM kbg_scans s\nJOIN kbg_sections sec ON sec.scan_id = s.scan_id\nWHERE (\n  '{{ $json.form_name }}' = ''\n  OR s.form_name = '{{ $json.form_name }}'\n)\nAND s.scanned_at = (\n  SELECT MAX(s2.scanned_at) FROM kbg_scans s2\n  WHERE (\n    '{{ $json.form_name }}' = ''\n    OR s2.form_name = '{{ $json.form_name }}'\n  )\n)\nGROUP BY s.scan_id, s.scanned_at, s.date_from, s.date_to, s.form_name,\n  s.total_tickets, s.total_topics, s.coverage_score,\n  s.deflection_rate, s.kb_availability, s.kb_linking,\n  s.kb_usage, s.non_kb, s.high_priority, s.medium_priority;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        352
      ],
      "id": "22e858a1-80ac-4ffb-b49f-bb29310df2e9",
      "name": "Postgres - Load Scan Context",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_tickets,\n  COUNT(CASE WHEN status IN ('solved', 'closed') THEN 1 END) as solved_tickets,\n  ROUND(AVG(full_resolution_time_business_minutes)::numeric / 60, 1) as avg_resolution_hours,\n  ROUND(\n    SUM(CASE WHEN sla_breached_flag = true THEN 1 ELSE 0 END)::numeric \n    / NULLIF(COUNT(*), 0) * 100, 1\n  ) as sla_breach_pct,\n  ROUND(\n    SUM(CASE WHEN article_linked_flag = true THEN 1 ELSE 0 END)::numeric \n    / NULLIF(COUNT(*), 0) * 100, 1\n  ) as article_link_pct,\n  ROUND(\n    SUM(CASE WHEN csat_score = 'good' THEN 1 ELSE 0 END)::numeric \n    / NULLIF(SUM(CASE WHEN csat_score IN ('good', 'bad') THEN 1 ELSE 0 END), 0) * 100, 1\n  ) as csat_pct,\n  SUM(CASE WHEN csat_score IN ('good', 'bad') THEN 1 ELSE 0 END) as csat_responses\nFROM support_ticket_metrics_fact\nWHERE (\n  '{{ $('Code - Parse Query Context').first().json.form_name }}' = ''\n  OR form_id = CASE '{{ $('Code - Parse Query Context').first().json.form_name }}'\n    WHEN 'EMR'        THEN 1900001563224\n    WHEN 'Lab'        THEN 32729757998235\n    WHEN 'CRM'        THEN 1260812421569\n    WHEN 'Accounting' THEN 5374649379867\n    ELSE NULL\n  END\n)\nAND (\n  '{{ $('Code - Parse Query Context').first().json.date_from }}' = ''\n  OR ticket_created_at >= '{{ $('Code - Parse Query Context').first().json.date_from }}'\n)\nAND (\n  '{{ $('Code - Parse Query Context').first().json.date_to }}' = ''\n  OR ticket_created_at <= '{{ $('Code - Parse Query Context').first().json.date_to }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        352
      ],
      "id": "8b9b78fb-33aa-40e6-8d52-18aea2679015",
      "name": "Postgres - Load Metrics Context",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "You are a query parameter extractor for a support analytics system. Given a natural language question, extract filter parameters and return ONLY a valid JSON object — no markdown, no explanation:\\n{\\n \"form_name\": string or \"\",\\n \"date_from\": string (YYYY-MM-DD) or \"\",\\n \"date_to\": string (YYYY-MM-DD) or \"\"\\n}\\n\\nAvailable forms: EMR, CRM, Lab, Accounting. Return the matching form if mentioned or clearly implied. Return \"\" if none specified.\\n\\nFor dates: infer from natural language. Today is 2026-04-08. Use your judgment — for example \"Q1\" means the first quarter of the current or most recently mentioned year, \"last month\" means March 2026, \"this year\" means 2026-01-01 to today. Return \"\" for both date fields if no time period is mentioned or implied."
            },
            {
              "name": "user_prompt",
              "value": "=={{ $json.body?.message || $json.message }}"
            },
            {
              "name": "temperature",
              "value": "=0.3"
            },
            {
              "name": "max_tokens",
              "value": "=1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        352
      ],
      "id": "e8946c16-bcb8-4c14-b1ef-0226fdc29558",
      "name": "HTTP - Extract Query Context",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        512
      ],
      "id": "21fffccd-ad78-449d-876a-08f92c2d39ec",
      "name": "Kipu LLM Usage - Query"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - Chat').first().json.body || $('Webhook - Chat').first().json;\n\nconst resp = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst raw = resp?.output_text || '';\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet extracted = { form_name: '', date_from: '', date_to: '' };\ntry {\n  extracted = JSON.parse(cleaned);\n} catch(e) {}\n\n// Normalize dates to YYYY-MM-DD regardless of what format the LLM returned\nconst toISODate = val => {\n  if (!val) return '';\n  try {\n    const d = new Date(val);\n    if (isNaN(d.getTime())) return '';\n    return d.toISOString().slice(0, 10);\n  } catch(e) {\n    return '';\n  }\n};\n\nreturn [{ json: {\n  message: body.message || '',\n  history: body.history || [],\n  form_name: extracted.form_name || '',\n  date_from: toISODate(extracted.date_from),\n  date_to: toISODate(extracted.date_to)\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        352
      ],
      "id": "f56c1675-d5a1-4f3f-a184-7f9ff33dd9aa",
      "name": "Code - Parse Query Context"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \n  url: 'https://kipuhealth.zendesk.com/api/v2/help_center/articles.json?per_page=100&page=1&include=sections,categories'\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        960
      ],
      "id": "cb9af08d-98fe-4bc2-9274-29fac0b08c02",
      "name": "Code - Build Article Fetch URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "5ccf6b68-d9bf-433d-a4db-1a4ab79a470a",
      "name": "HTTP - Fetch Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        960
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allArticles = [];\nfor (const item of $input.all()) {\n  const articles = item.json.articles || [];\n  allArticles.push(...articles);\n}\n\nconst filtered = allArticles.filter(a => {\n  const categoryName = (a.category?.name || '').toLowerCase();\n  return !categoryName.includes('release note');\n});\n\nconst cleaned = filtered.map(a => {\n  const bodyText = (a.body || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 8000);\n\n  return {\n    article_id: a.id,\n    title: a.title,\n    body_text: bodyText,\n    section_id: a.section_id,\n    url: `https://kipuhealth.zendesk.com/hc/en-us/articles/${a.id}`,\n    outdated: a.outdated || false,\n    draft: a.draft || false,\n    updated_at: a.updated_at,\n    embed_input: `${a.title}\\n\\n${bodyText}`\n  };\n});\n\nreturn [{ json: {\n  inputs: cleaned.map(a => a.embed_input),\n  articles: cleaned\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        960
      ],
      "id": "00a5158e-c7e1-47fd-8f80-436626d4309b",
      "name": "Code - Filter + Clean Articles"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.inputs }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2288,
        960
      ],
      "id": "dba1f3f7-a9d2-404f-aca5-e06be08fd8b7",
      "name": "HTTP - OpenAI Embed",
      "credentials": {
        "openAiApi": {
          "id": "E80xkZpQ6Z8o6nB0",
          "name": "Equinox OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embeddings = $json.data || [];\nconst articles = $('Code - Filter + Clean Articles').first().json.articles;\n\nreturn embeddings.map((e, i) => {\n  const article = articles[i];\n  if (!article) return null;\n  return {\n    json: {\n      article_id: article.article_id,\n      title: (article.title || '').replace(/'/g, \"''\"),\n      body_text: (article.body_text || '').replace(/'/g, \"''\"),\n      section_id: article.section_id || null,\n      url: article.url,\n      outdated: article.outdated || false,\n      draft: article.draft || false,\n      updated_at: article.updated_at,\n      embedding: JSON.stringify(e.embedding),\n      embedded_at: new Date().toISOString()\n    }\n  };\n}).filter(Boolean);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        960
      ],
      "id": "994dbdd9-16ad-49c2-a515-75af4f011832",
      "name": "Code - Prepare Upsert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_article_embeddings (\n  article_id, title, body_text, section_id, url,\n  outdated, draft, embedding, embedded_at, updated_at, source\n) VALUES (\n  {{ $json.article_id }},\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.body_text.replace(/'/g, \"''\") }}',\n  {{ $json.section_id }},\n  '{{ $json.url }}',\n  {{ $json.outdated }},\n  {{ $json.draft }},\n  '{{ $json.embedding }}'::vector,\n  '{{ $json.embedded_at }}',\n  '{{ $json.updated_at }}',\n  'emr'\n)\nON CONFLICT (article_id, source) DO UPDATE SET\n  title = EXCLUDED.title,\n  body_text = EXCLUDED.body_text,\n  embedding = EXCLUDED.embedding,\n  outdated = EXCLUDED.outdated,\n  embedded_at = EXCLUDED.embedded_at,\n  updated_at = EXCLUDED.updated_at;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2832,
        960
      ],
      "id": "10ba3a6e-8fc3-4af1-b943-8cd57541333e",
      "name": "Postgres - Upsert Embedding",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const httpResult = $('HTTP - Fetch Articles').first().json;\n\nreturn {\n  json: {\n    next_page: httpResult.next_page || null,\n    has_more: !!httpResult.next_page\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        960
      ],
      "id": "1e7bd8e1-c4b9-4c2a-a346-8c87bf78302e",
      "name": "Code - Check Next Page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a43b907d-b590-41b9-abbb-f3cb91a3d74d",
              "leftValue": "={{ $json.has_more }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        960
      ],
      "id": "618851f5-ef00-4d85-91a8-22830bde1e73",
      "name": "IF - More Pages"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3584,
        944
      ],
      "id": "2728504d-7742-4092-a75d-e7d06ab66f07",
      "name": "Wait",
      "webhookId": "926e526a-13c2-4384-879a-eb914603779e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    url: $json.next_page\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        944
      ],
      "id": "3211b71e-6eef-40b8-a7fa-e699e29288d9",
      "name": "Code - Next Page URL"
    },
    {
      "parameters": {
        "content": "KB Embed Flow for EMR",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        672
      ],
      "id": "9d6ca29b-8ce7-4306-a43f-95b050892de6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Single Ticket Search",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        1504
      ],
      "id": "9926e770-f117-46a0-abf6-ba117d5e689c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-ticket-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        1648
      ],
      "id": "a0ba87f9-0df9-4592-b7a1-dd51bd6b8d7c",
      "name": "Webhook - Ticket Lookup",
      "webhookId": "ae7180b6-d847-4e65-ac7c-2b348906d90e"
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/tickets/{{ $json.body.ticket_id }}.json?include=comment_count\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "3bc18adc-c752-4b27-8544-981dba9b8fb5",
      "name": "HTTP - Fetch Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        1648
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('HTTP - Fetch Ticket').first().json.ticket;\nconst comments = $('HTTP - Fetch Ticket Comments').first().json.comments || [];\n\nif (!ticket) throw new Error('Ticket not found');\n\nconst subject = ticket.subject || '';\n\n// Get first 3 public comments (actual conversation, not just description)\nconst publicComments = comments\n  .filter(c => c.public)\n  .slice(0, 3)\n  .map(c => c.body || '')\n  .join('\\n\\n---\\n\\n')\n  .slice(0, 2000);\n\nconst userPrompt = `Subject: ${subject}\\n\\nConversation:\\n${publicComments || 'No comments available'}`;\n\nreturn {\n  json: {\n    ticket_id: ticket.id,\n    status: ticket.status,\n    form_id: ticket.ticket_form_id,\n    system_prompt: `You are a support ticket analyzer. Extract the core support question from the ticket below. Remove all personally identifiable information (names, emails, phone numbers, account numbers, dates of birth, facility names). Return only a 2-3 sentence plain English summary of the technical or functional issue being reported. No PHI, no metadata, just the question.`,\n    user_prompt: userPrompt\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1648
      ],
      "id": "5a7014b9-2b76-479f-ab8b-dfacebf6078d",
      "name": "Code - Prepare Ticket Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.embed_input }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        1648
      ],
      "id": "dd5435b1-ff91-4408-8b00-a7b66b8eeedf",
      "name": "HTTP - OpenAI Embed Ticket",
      "credentials": {
        "openAiApi": {
          "id": "E80xkZpQ6Z8o6nB0",
          "name": "Equinox OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  article_id,\n  title,\n  url,\n  outdated,\n  ROUND((1 - (embedding <=> ('[' || '{{ $json.data[0].embedding }}' || ']')::vector))::numeric, 3) as similarity\nFROM kb_article_embeddings\nWHERE outdated = false\nORDER BY embedding <=> ('[' || '{{ $json.data[0].embedding }}' || ']')::vector\nLIMIT 5;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2720,
        1648
      ],
      "id": "cfe9c84f-706b-4574-b311-6304f035f668",
      "name": "Postgres - Vector Search",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.user_prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.1"
            },
            {
              "name": "max_tokens",
              "value": "=200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        1648
      ],
      "id": "b92d7f67-1940-486b-8d08-b53f2267d08d",
      "name": "HTTP - Kipu LLM Summarize",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2208,
        1888
      ],
      "id": "cfa9c778-02a5-42a6-91af-9eac227d88fc",
      "name": "Kipu LLM Usage LLM - Summary"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const summary = $json.output_text || $json.text || $json.response || '';\nconst ticket = $('Code - Prepare Ticket Text').item.json;\n\nreturn {\n  json: {\n    ticket_id: ticket.ticket_id,\n    status: ticket.status,\n    form_id: ticket.form_id,\n    summary: summary,\n    embed_input: summary\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        1648
      ],
      "id": "b74d0069-1399-4c24-aead-4c32e77723f6",
      "name": "Code - Extract Summary"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst ticket = $('Code - Prepare Ticket Text').first().json;\nconst summary = $('Code - Extract Summary').first().json.summary;\n\nconst MIN_SIMILARITY = 0.5;\nconst filtered = results.filter(r => r.similarity >= MIN_SIMILARITY);\n\nconst bestMatch = filtered.length > 0 ? filtered[0] : null;\n\nlet coverage;\nif (bestMatch && bestMatch.similarity >= 0.75) {\n  coverage = 'covered';\n} else if (bestMatch && bestMatch.similarity >= 0.60) {\n  coverage = 'partial';\n} else {\n  coverage = 'none';\n}\n\nreturn [{\n  json: {\n    ticket_id: ticket.ticket_id,\n    status: ticket.status,\n    issue_summary: summary,\n    coverage: coverage,\n    coverage_label: coverage === 'covered'\n      ? 'A relevant article exists for this topic'\n      : coverage === 'partial'\n      ? 'Partial match — review these articles'\n      : 'No article found for this topic',\n    articles: filtered.map(r => ({\n      article_id: r.article_id,\n      title: r.title,\n      url: r.url,\n      outdated: r.outdated,\n      similarity: r.similarity,\n      match_quality: r.similarity >= 0.75 ? 'strong' : 'possible'\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        1648
      ],
      "id": "73c6e55f-a8c0-420c-9716-c57b0c6cd207",
      "name": "Code - Format Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3136,
        1648
      ],
      "id": "4fd55f48-0536-40cc-8b9d-62e8c8da10c1",
      "name": "Respond to Webhook - Ticket Lookup"
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/tickets/{{ $('HTTP - Fetch Ticket').first().json.ticket.id }}/comments.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "48fbe17a-ab41-4b4a-9b26-3d8b4b943a72",
      "name": "HTTP - Fetch Ticket Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1504,
        1648
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1120,
        960
      ],
      "id": "5c99d777-2583-4d04-bd84-a4cb7336d270",
      "name": "Refresh Article Vectorizing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_embed_log (articles_embedded, status)\nSELECT COUNT(*), 'success' FROM kb_article_embeddings;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3600,
        1184
      ],
      "id": "2278ea6f-47e5-4468-9092-690a1815acde",
      "name": "Postgres - Log Run",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-embed-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        800
      ],
      "id": "9a2e3b7d-3425-417b-a211-33a8cd2cdda4",
      "name": "Webhook - KB Embed Sync",
      "webhookId": "3b712399-5624-431c-b13a-833c156e5307"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3808,
        1184
      ],
      "id": "cc3b3f0a-e335-4355-b689-b9eee93e2aeb",
      "name": "Respond to Webhook - KB Embed Sync"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE kb_article_embeddings;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        960
      ],
      "id": "3b65e46d-6d3f-4d79-827d-cd1154659082",
      "name": "Postgres - Clear Table",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-coverage-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1088,
        2112
      ],
      "id": "015cffe3-3317-43cc-bfdd-1d8ad445be19",
      "name": "Webhook - KB Coverage Scan",
      "webhookId": "ae7180b6-d847-4e65-ac7c-2b348906d90e"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ticket_id, article_linked_flag\nFROM support_ticket_metrics_fact\nWHERE form_id = {{ $json.body.form_id }}\n  AND ticket_created_at >= '{{ $json.body.date_from }}'\n  AND ticket_created_at < '{{ $json.body.date_to }}'\nORDER BY ticket_id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        2112
      ],
      "id": "3425b070-70dc-4e05-be17-d0cdcfd147bb",
      "name": "Postgres - Fetch Tickets",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://kipuhealth.zendesk.com/api/v2/tickets/{{ $('Postgres - Fetch Tickets').item.json.ticket_id }}/comments.json\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "98d67a9d-e677-47fe-8207-8bf04d9fde41",
      "name": "HTTP - Fetch Ticket Comments KBGap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        2112
      ],
      "credentials": {
        "zendeskApi": {
          "id": "Nd6nYzUYdeDBS3Gj",
          "name": "Equinox Zendesk Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticketId = $('Postgres - Fetch Tickets').item.json.ticket_id;\nconst comments = $('HTTP - Fetch Ticket Comments KBGap').item.json.comments || [];\n\nconst publicComments = comments\n  .filter(c => c.public)\n  .slice(0, 3)\n  .map(c => c.body || '')\n  .join('\\n\\n---\\n\\n')\n  .slice(0, 2000);\n\nreturn {\n  json: {\n    ticket_id: ticketId,\n    article_linked_flag: $('Postgres - Fetch Tickets').item.json.article_linked_flag,\n    status: null,\n    form_id: 1260812421569,\n    system_prompt: `You are a support ticket analyzer. Extract the core support question from the ticket below. Remove all personally identifiable information (names, emails, phone numbers, account numbers, dates of birth, facility names). Return only a 2-3 sentence plain English summary of the technical or functional issue being reported. No PHI, no metadata, just the question.`,\n    user_prompt: `Conversation:\\n${publicComments || 'No comments available'}`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        2112
      ],
      "id": "469584e4-8312-4f8f-a793-22456a96ae90",
      "name": "Code - Prepare Ticket Text1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.embed_input }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        2112
      ],
      "id": "172748eb-da56-4e04-ab17-f56af6c2c20a",
      "name": "HTTP - OpenAI Embed Ticket1",
      "credentials": {
        "openAiApi": {
          "id": "E80xkZpQ6Z8o6nB0",
          "name": "Equinox OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  json_agg(\n    json_build_object(\n      'article_id', article_id,\n      'title', title,\n      'url', url,\n      'outdated', outdated,\n      'similarity', ROUND((1 - (embedding <=> ('[' || '{{ $json.data[0].embedding }}' || ']')::vector))::numeric, 3)\n    ) ORDER BY embedding <=> ('[' || '{{ $json.data[0].embedding }}' || ']')::vector\n  ) as articles\nFROM (\n  SELECT article_id, title, url, outdated, embedding\n  FROM kb_article_embeddings\n  WHERE outdated = false\n  ORDER BY embedding <=> ('[' || '{{ $json.data[0].embedding }}' || ']')::vector\n  LIMIT 5\n) sub;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2992,
        2112
      ],
      "id": "515b78b5-4260-4e47-a91c-5efdf71bcee8",
      "name": "Postgres - Vector Search1",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automations.kipuqa.com/webhook/d8636958-7ad8-4888-a0cf-619308193a2c",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "user_prompt",
              "value": "={{ $json.user_prompt }}"
            },
            {
              "name": "temperature",
              "value": "=0.1"
            },
            {
              "name": "max_tokens",
              "value": "=200"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        2112
      ],
      "id": "9773e713-e1f6-4891-a98f-3d87d26f1234",
      "name": "HTTP - Kipu LLM Summarize1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8gpQNhEjspc3sQui",
          "name": "KipuLLM"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UlmKZmk0eECsqKNa",
          "mode": "list",
          "cachedResultName": "KipuLLMUsage",
          "cachedResultUrl": "/projects/4lDgK71Kepm49bQz/datatables/UlmKZmk0eECsqKNa"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_tokens": "={{ $json.usage.prompt_tokens }}",
            "completion_tokens": "={{ $json.usage.completion_tokens }}",
            "total_tokens": "={{ $json.usage.total_tokens }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completion_tokens",
              "displayName": "completion_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_tokens",
              "displayName": "total_tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2480,
        2352
      ],
      "id": "9a987215-12f3-4f0d-aa37-2372668d52d4",
      "name": "Kipu LLM Usage LLM - Summary1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const summary = $json.output_text || $json.text || $json.response || '';\nconst ticket = $('Code - Prepare Ticket Text1').item.json;\n\nreturn {\n  json: {\n    ticket_id: ticket.ticket_id,\n    status: ticket.status,\n    form_id: ticket.form_id,\n    summary: summary,\n    embed_input: summary\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        2112
      ],
      "id": "2c682dc6-6f2f-4d56-b2c5-de26665088b1",
      "name": "Code - Extract Summary1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kb_coverage_results (ticket_id, coverage, top_similarity, top_article_id, top_article_title, summary)\nVALUES (\n  {{ $json.ticket_id }},\n  '{{ $json.coverage }}',\n  {{ $json.articles.length > 0 ? $json.articles[0].similarity : 'NULL' }},\n  {{ $json.articles.length > 0 ? $json.articles[0].article_id : 'NULL' }},\n  '{{ $json.articles.length > 0 ? $json.articles[0].title.replace(/'/g, \"''\") : '' }}',\n  '{{ $json.issue_summary ? $json.issue_summary.replace(/'/g, \"''\") : '' }}'\n)\nON CONFLICT (ticket_id) DO UPDATE SET\n  coverage = EXCLUDED.coverage,\n  top_similarity = EXCLUDED.top_similarity,\n  top_article_id = EXCLUDED.top_article_id,\n  top_article_title = EXCLUDED.top_article_title,\n  summary = EXCLUDED.summary,\n  scanned_at = NOW();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3440,
        2112
      ],
      "id": "aeafb9e5-d023-4902-9c51-7ed83d3d3b04",
      "name": "Postgres - Upsert Result",
      "credentials": {
        "postgres": {
          "id": "XjgfokqBkBtAIKkz",
          "name": "Equinox Supabase - Zendesk Ticket Metrics"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('Code - Prepare Ticket Text1').item.json;\nconst summary = $('Code - Extract Summary1').item.json.summary;\nconst articles = $json.articles || [];\n\nconst MIN_SIMILARITY = 0.5;\nconst filtered = articles.filter(r => r.similarity >= MIN_SIMILARITY);\nconst bestMatch = filtered.length > 0 ? filtered[0] : null;\n\nlet coverage;\nif (bestMatch && bestMatch.similarity >= 0.75) {\n  coverage = 'covered';\n} else if (bestMatch && bestMatch.similarity >= 0.60) {\n  coverage = 'partial';\n} else {\n  coverage = 'none';\n}\n\nreturn {\n  json: {\n    ticket_id: ticket.ticket_id,\n    issue_summary: summary,\n    coverage: coverage,\n    articles: filtered\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        2112
      ],
      "id": "0fe1a41f-5317-4c7c-ac51-e887394b452a",
      "name": "Code - Format Response1"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1568,
        2112
      ],
      "id": "fa30a6db-0a89-45e3-bcfb-8f97d26842f4",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3648,
        2112
      ],
      "id": "17255a41-ac71-4d54-b0d3-4542cc6a7270",
      "name": "Respond to Webhook - Batch KB Coverage"
    },
    {
      "parameters": {
        "content": "Multi Ticket Search",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        1968
      ],
      "id": "7225dcbe-386a-4f5e-a5f3-b95344e5f517",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Supabase data chat flow",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        224
      ],
      "id": "6a3a0036-9905-439d-af8b-b78799e241f1",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Chat": {
      "main": [
        [
          {
            "node": "HTTP - Extract Query Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chat Prompt": {
      "main": [
        [
          {
            "node": "Kipu LLM Webhook - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Webhook - Chat": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage - Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Parse Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Usage - Chat": {
      "main": [
        []
      ]
    },
    "Code - Parse Chat Response": {
      "main": [
        [
          {
            "node": "Respond - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Load Scan Context": {
      "main": [
        [
          {
            "node": "Postgres - Load Metrics Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Load Metrics Context": {
      "main": [
        [
          {
            "node": "Code - Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Extract Query Context": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage - Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Parse Query Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kipu LLM Usage - Query": {
      "main": [
        []
      ]
    },
    "Code - Parse Query Context": {
      "main": [
        [
          {
            "node": "Postgres - Load Scan Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Article Fetch URL": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Articles": {
      "main": [
        [
          {
            "node": "Code - Filter + Clean Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter + Clean Articles": {
      "main": [
        [
          {
            "node": "HTTP - OpenAI Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - OpenAI Embed": {
      "main": [
        [
          {
            "node": "Code - Prepare Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Upsert": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Next Page": {
      "main": [
        [
          {
            "node": "IF - More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Pages": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres - Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code - Next Page URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Next Page URL": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Embedding": {
      "main": [
        [
          {
            "node": "Code - Check Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Ticket Lookup": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Ticket": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Ticket Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Ticket Text": {
      "main": [
        [
          {
            "node": "HTTP - Kipu LLM Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - OpenAI Embed Ticket": {
      "main": [
        [
          {
            "node": "Postgres - Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Kipu LLM Summarize": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage LLM - Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Summary": {
      "main": [
        [
          {
            "node": "HTTP - OpenAI Embed Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Vector Search": {
      "main": [
        [
          {
            "node": "Code - Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Ticket Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Ticket Comments": {
      "main": [
        [
          {
            "node": "Code - Prepare Ticket Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Article Vectorizing": {
      "main": [
        [
          {
            "node": "Postgres - Clear Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - KB Embed Sync": {
      "main": [
        [
          {
            "node": "Postgres - Clear Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Log Run": {
      "main": [
        [
          {
            "node": "Respond to Webhook - KB Embed Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Clear Table": {
      "main": [
        [
          {
            "node": "Code - Build Article Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - KB Coverage Scan": {
      "main": [
        [
          {
            "node": "Postgres - Fetch Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Fetch Tickets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Ticket Text1": {
      "main": [
        [
          {
            "node": "HTTP - Kipu LLM Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - OpenAI Embed Ticket1": {
      "main": [
        [
          {
            "node": "Postgres - Vector Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Kipu LLM Summarize1": {
      "main": [
        [
          {
            "node": "Kipu LLM Usage LLM - Summary1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Extract Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Summary1": {
      "main": [
        [
          {
            "node": "HTTP - OpenAI Embed Ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Ticket Comments KBGap": {
      "main": [
        [
          {
            "node": "Code - Prepare Ticket Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Vector Search1": {
      "main": [
        [
          {
            "node": "Code - Format Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response1": {
      "main": [
        [
          {
            "node": "Postgres - Upsert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Ticket Comments KBGap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Upsert Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Batch KB Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "caff3461-41d0-415d-8433-2fe9ea752852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52593113cc94089cd75ae3f96772feead566141362fb1a394622a12d4e4e1f80"
  },
  "id": "n52jtMYVMcHfiIgJ",
  "tags": []
}